.thecontent {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: auto;
  width: 65%;
  margin-right: 34%;
  max-height: 150px;
}
.thecontent .carousel {
  height: 100% !important;
  width: 100%;
  padding-bottom: 5%;
  display: inline-block;
}
.thecontent .carousel .carousel-inner {
  margin-top: 2px;
  height: 100%;
}
.thecontent .carousel .carousel-inner .left,
.thecontent .carousel .carousel-inner .right {
  background-image: none;
  position: absolute;
  top: 50%;
  color: #000;
}
.thecontent .carousel .testimonial-head {
  background-color: #C50A0A;
  padding: 10px 0 0 70px;
  width: 100%;
  height: auto;
}
.thecontent .carousel .testimonial-head h1 {
  color: #fff;
}
/* Portrait and Landscape */
@media only screen and (min-width: 310px) and (max-width: 1024px) {
  .thecontent {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: auto;
    width: 100%;
    max-height: 300px;
  }
  .thecontent .testimonial-head h1 {
    color: #fff;
    font-size: 1.0rem;
    line-height: 1.6rem;
  }
  .thecontent .testimonial-head h2 {
    color: #C50A0A;
    font-size: 0.9rem;
  }
  .thecontent .carousel .left,
  .thecontent .carousel .right {
    background-image: none;
    position: absolute;
    top: 50%;
    color: #000;
  }
  .thecontent .carousel .right {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 310px) {
  .thecontent {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: auto;
    width: 100%;
    max-height: 300px;
  }
  .thecontent .testimonial-head h1 {
    color: #fff;
    font-size: 1.0rem;
    line-height: 1.6rem;
  }
  .thecontent .testimonial-head h2 {
    color: #C50A0A;
    font-size: 0.9rem;
  }
  .thecontent .carousel {
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
    display: inline-block;
  }
  .thecontent .carousel .left,
  .thecontent .carousel .right {
    background-image: none;
    position: absolute;
    top: 50%;
    color: #000;
  }
  .thecontent .carousel .right {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=asiko.css.map */