// Declaring variables

@redocolor: #C50A0A;

// Using variables
// div#header {
//     border: @border-width solid @red;
// } 

.thecontent{ 
	margin-top:10px; 
	margin-bottom: 50px;
	padding: auto;
	width: 65%;
	//margin-left: 1%;
	margin-right: 34%;
	max-height: 150px;

	.carousel{
		//position: absolute;
		height: 100% !important;
		width: 100%;
		padding-bottom: 5%;
		display: inline-block;

		.carousel-inner{
			margin-top: 2px;

			height: 100%;
			//overflow-x: 



			.left, .right { 
										background-image: none; 
										position: absolute;
										top: 50%;
										color: #000;
										
} 
		}

	.testimonial-head{
	background-color: @redocolor;
	padding: 10px 0 0 70px;
	// color: #fff;
	width: 100%;
	height: auto;
	//line-height: 20px;
	//text-overflow: ellipsis;

	h1{
		color: #fff;
		// line-height: 5px;
	}

}

	}//end of carousel

} //end of thecontent






/* Portrait and Landscape */
@media only screen 
  and (min-width: 310px) 
  and (max-width: 1024px)
  // and (-webkit-min-device-pixel-ratio: 2)
  // and (orientation: portrait)
  // and (-webkit-min-device-pixel-ratio: 2) 
  {

  	.thecontent{

  		margin-top:10px; 
	margin-bottom: 50px;
	padding: auto;
	width: 100%;
	max-height: 300px;
	//margin-left: 1%;
	// margin-right: 34%;
	// max-height: 150px;

  					.testimonial-head {

  						h1{
					// background-color: #C50A0A;
					// padding: 10px 0 0 70px;
					color: #fff;
					font-size: 1.0rem;
					// width: 100%;
					// height: auto;
					line-height: 1.6rem;
					//text-overflow: ellipsis;


}


					h2{
						color: @redocolor;
						font-size: 0.9rem;
					}
  					}


		.carousel{

			.left, .right { 
										background-image: none; 
										position: absolute;
										top: 50%;
										color: #000;
										
} 

.right{
	margin-right: 10px;
}

			.carousel-inner{


			}
		}


}

  

}
//end of first media

//for funny screens
@media only screen 
  and (max-width: 310px){



  	.thecontent{

  		margin-top:10px; 
	margin-bottom: 50px;
	padding: auto;
	width: 100%;
	max-height: 300px;
  			.testimonial-head {

  						h1{
					// background-color: #C50A0A;
					// padding: 10px 0 0 70px;
					color: #fff;
					font-size: 1.0rem;
					// width: 100%;
					// height: auto;
					line-height: 1.6rem;
					//text-overflow: ellipsis;


}


					h2{
						color: @redocolor;
						font-size: 0.9rem;
					}
  					}


		.carousel{


				//position: absolute;
		height: 100%;
		width: 100%;
		padding-bottom: 5%;
		display: inline-block;


			.left, .right { 
										background-image: none; 
										position: absolute;
										top: 50%;
										color: #000;
										
} 

.right{
	margin-right: 10px;
}

			.carousel-inner{


			}
		}

  		}


}//end of second media
