@import "asiko.css";
@import "terms-condition.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > li.active > a{filter:none;}
*{-webkit-backface-visibility:hidden;}
img.grayscale{filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter:gray;-webkit-filter:grayscale(100%);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);opacity:.6;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;}
img.grayscale:hover{filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-filter:grayscale(0%);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;}
body{background:none repeat scroll 0 0 #EBEBEB;color:#000;font-size:14px;overflow-y:scroll; overflow-x:hidden;font-family:"Open Sans",Arial,sans-serif;line-height:21px;cursor:default;}
.service-content{padding:5px;}

.service-text p{padding:9px 11px 0px 2px;}
.service-text h4{padding:10px 0px 0px 11px;text-align:left;}
.service-text ul{padding:7px;}
.service-text ul li{line-height:20px;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline:0;text-decoration:none;}
h1{font-size:32px;}
h2{font-size:21px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:13px;}
h6{font-size:12px;}
small{font:11px'Arial';}
p{font:14px/21px'Arial', Helvetica, sans-serif;}
p.UpperCase:first-letter{font-size:60px;color:#C50A0A;text-transform:uppercase;}
blockquote{background:none repeat scroll 0 0 #F6F6F6;padding:30px 30px 30px;color:#A1A1A1;font-style:italic;}
.MediumSize{font-size:21px;}
.SmallSize{font-size:28px;}
.LargeSize{font-size:42px;}
.VeryLargeSize{font-size:72px;}
.WhiteSkin{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);}
.AddPaddingTop{padding-top:20px !important;}
.ActivateButton{background:none repeat scroll 0 0 #C50A0A !important;}
.RemovePaddingLeft{padding-left:0 !important;}
.RemovePaddingRight{padding-right:0 !important;}
header#header .SiteBrand{font:0/0 a;text-shadow:none;background:url(../img/main-logos/logo.png)60% 20% no-repeat;color:transparent;max-width:100%;width:100%;height:120px;margin:20px 0;}
header#header ul.HeaderLinks{margin:16px 0 0;}
header#header ul.HeaderLinks > li{display:inline;}
header#header ul.HeaderLinks > li:first-child > a{color:#C5C5C5;text-shadow:0 1px 0 rgba(255, 255, 255, 1);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
header#header ul.HeaderLinks > li:first-child > a:hover{color:#818181;}
header#header ul.HeaderLinks > li:last-child > a{color:#C50A0A;text-shadow:0 1px 0 rgba(255, 255, 255, 1);padding:0 0 0 8px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
header#header ul.HeaderLinks > li:last-child > a:hover{opacity:.7;}
header#header ul.HeaderLinks ul.dropdown-menu{background:none repeat scroll 0 0 #525252;border-radius:0 0 0 0;box-shadow:none;border:medium none;padding:0 0 0;margin:8px 0 0;}
header#header ul.HeaderLinks ul.dropdown-menu > li > a{color:#FFFFFF;padding:12px 20px;}
header#header ul.HeaderLinks ul.dropdown-menu > li > a:hover,
header#header ul.HeaderLinks ul.dropdown-menu > li > a:focus{background-color:#C50A0A;background-image:none;background-repeat:no-repeat;}
header#header .navbar-form{margin:8px 0 0;padding:0 0 0;}
header#header .navbar-form #form-group{position:relative;}
header#header .navbar-form #form-group .SearchInput{-webkit-border-radius:0 0 0;-moz-border-radius:0 0 0;border-radius:0 0 0;border:medium none;height:45px;}
header#header .navbar-form #form-group .SearchInput:focus{-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);}
header#header .navbar-form #form-group .SearchIcon{position:absolute;right:0;top:0;font-size:24px;color:#a3a3a3;padding:9px 8px;}
header#header .navbar-form .HeaderSocialIcons ul li{float:right;padding:10px 10px 10px;}
header#header .navbar-form .HeaderSocialIcons ul li a{color:#c7c7c7;font-size:20px;text-shadow:0 1px 0 rgba(255,255,255,0.2);}
header#header .navbar-form .HeaderSocialIcons ul li a:hover{color:#C50A0A;}
#NavigationWrapper{background:none repeat scroll 0 0 #C50A0A;position:relative;}
#NavigationWrapper .Slogan{text-align:center;color:#FFFFFF;line-height:50px;background:none repeat scroll 0 0 #C50A0A;}
#NavigationWrapper .navbar-collapse{border:medium none;}
#NavigationWrapper .navbar-default{background:none repeat scroll 0 0 #000;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border:medium none;margin:0 0 0 0;z-index:300;}
#NavigationWrapper .navbar-default ul.nav .caret{border-bottom-color:#C50A0A;border-top-color:#C50A0A;}
#NavigationWrapper .navbar-default ul.nav .open a{background:none repeat scroll 0 0 transparent;border:medium none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#NavigationWrapper .navbar-default ul.nav .open a:hover{background:none repeat scroll 0 0 transparent;border:medium none;}
#NavigationWrapper .navbar-default ul.nav .open a:focus{background:none repeat scroll 0 0 transparent;border:medium none;}
#NavigationWrapper .navbar-default ul.nav li{font-size:11px;font-weight:bold;padding:0 26px 0;}
#NavigationWrapper .navbar-default ul.nav li:first-child{padding:0 26px 0 14px;}
#NavigationWrapper .navbar-default ul.nav li:last-child{padding:0 0 0 26px;}
#NavigationWrapper .navbar-default ul.nav li a{padding:0 0 0;background:none repeat scroll 0 0 transparent;-webkit-border-radius:0 0 0;-moz-border-radius:0 0 0;border-radius:0 0 0;color:#FFFFFF;line-height:50px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;text-shadow:none;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#NavigationWrapper .navbar-default ul.nav li a:hover{background:none repeat scroll 0 0 transparent;color:#999999;}
#NavigationWrapper .navbar-default ul.nav ul.dropdown-menu{background:none repeat scroll 0 0 #000;-webkit-border-radius:0 0 0;-moz-border-radius:0 0 0;border-radius:0 0 0;border:medium none;margin:0 0 0;padding:0 0 0;}
#NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li{padding:0 14px 0;border-bottom:1px solid #474747;border-top:1px solid #474747;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:first-child{border-top:medium none;}
#NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:last-child{border-bottom:medium none;}
#NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li a{color:#fff;line-height:38px;}
#NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:hover{background:none repeat scroll 0 0 #C50A0A;}
#NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:hover a{color:#FFFFFF;}
#NavigationWrapper .navbar-default ul.nav ul.dropdown-menu li:hover a:hover{color:#fff;}
#MainSlider{margin:0 0 10px;}
#MainSlider .MainSliderImages{position:relative;}
#MainSlider .MainSliderImages .bx-caption{bottom:6px;padding:0 0 0;left:10px;right:50%;position:absolute;color:#ffffff;}
#MainSlider .bx-wrapper{position:relative;}
#MainSlider .bx-controls{position:absolute;bottom:0;width:100%;height:34px;}
#MainSlider .bx-controls .bx-controls-direction{float:right;}
#MainSlider .bx-controls .bx-controls-direction a.bx-prev{float:left;color:#878786;background:none repeat scroll 0 0 #535353;height:34px;text-align:center;line-height:34px;width:34px;}
#MainSlider .bx-controls .bx-controls-direction a.bx-next{float:right;color:#878786;background:none repeat scroll 0 0 #535353;height:34px;text-align:center;line-height:34px;width:34px;}
#MainSlider .bx-controls .bx-controls-direction a.bx-prev:hover{color:#FFFFFF;background:none repeat scroll 0 0 #211917;}
#MainSlider .bx-controls .bx-controls-direction a.bx-next:hover{color:#FFFFFF;background:none repeat scroll 0 0 #211917;}
#MainSlider .MainSliderContent{background:none repeat scroll 0 0 #000;border-right:8px solid #C50A0A;min-height:354px;position:relative;}
#MainSlider .MainSliderContent a .MainSliderEntry{padding:30px 40px 0;display:none;}
#MainSlider .MainSliderContent a.active .MainSliderEntry{display:block;}
#MainSlider .MainSliderContent a .MainSliderEntry h2{padding:0 0 10px;color:#FFFFFF;}
/*Couldn't find .MainSliderEntryWrapper so, I am making one*/

#MainSlider .MainSliderContent a .MainSliderEntry p{color:#fff;font-size:13px;}
#MainSlider .MainSliderContent .MainSliderButtons{bottom:0;left:0;width:100%;position:absolute;}
#MainSlider .MainSliderContent .MainSliderButtons ul{list-style:none outside none;}
#MainSlider .MainSliderContent .MainSliderButtons ul li:first-child{float:left;width:50%;text-align:center;}
#MainSlider .MainSliderContent .MainSliderButtons ul li:last-child{float:right;width:100%;text-align:center;}
#MainSlider .MainSliderContent .MainSliderButtons ul li a{background:none repeat scroll 0 0 #474747;color:#FFFFFF;display:block;height:34px;line-height:34px;width:100%;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#MainSlider .MainSliderContent .MainSliderButtons ul li a:hover{background:none repeat scroll 0 0 #C50A0A;}
#MainSlider .MainSliderContent .MainSliderButtons ul li a.active{background:none repeat scroll 0 0 #C50A0A;}
.AnnounceTable{margin:0 0 30px;}
.AnnounceTable p{padding:15px 25px;}
.AnnounceTable ul.AnnounceDropdown{display:inline;}
.AnnounceTable ul.AnnounceDropdown > li{color:#C50A0A;margin:15px 0;display:inline-block;padding:0 10px;border-left:1px solid #544b4a;}
.AnnounceTable ul.AnnounceDropdown > li.open{background-color:#E7E7E7;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.AnnounceTable ul.AnnounceDropdown > li > a{color:#000;}
.AnnounceTable ul.AnnounceDropdown ul.dropdown-menu{background:none repeat scroll 0 0 #525252;border-radius:0 0 0 0;box-shadow:none;border:medium none;padding:0 0 0;margin:8px 0 0;right:0;left:inherit;}
.AnnounceTable ul.AnnounceDropdown ul.dropdown-menu > li > a{color:#FFFFFF;padding:12px 20px;}
.AnnounceTable ul.AnnounceDropdown ul.dropdown-menu > li > a:hover{background:none repeat scroll 0 0 #C50A0A;}
.Mosaic{padding:20px 30px 15px;text-align:center;color:#000;margin:0 0 20px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;height:264px;overflow: auto;}
.Mosaic:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
.Mosaic h3{font-weight:bold;padding:15px 0 15px;text-transform:uppercase;font-size:18px;}
.Mosaic p{font-size:12px;}
.NewProject{min-height:420px;position:relative;margin:0 0 20px;}
.NewProject .NewProjectHeader{background:none repeat scroll 0 0 #C50A0A;padding:0 0 0 12px;position:relative;display:block;height:30px;}
.NewProject .NewProjectHeader .NewProjectTitle{color:#FFFFFF;line-height:30px;float:left;}
.NewProject .NewProjectHeader .NewProjectSliderCtrls{float:right;text-align:center;line-height:30px;}
.NewProject .NewProjectHeader .NewProjectSliderCtrls span{background:none repeat scroll 0 0 #FFFFFF;display:inline-block;width:27px;height:auto;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.NewProject .NewProjectHeader .NewProjectSliderCtrls span:hover{background:none repeat scroll 0 0 #000;color:#fFFFFF;}
.NewProject .NewProjectFooter{height:28px;position:absolute;right:0;bottom:0;width:100%;}
.NewProject .NewProjectFooter .NewProjectVeiwBtn{background:none repeat scroll 0 0 #000;padding:0 10px;color:#FFFFFF;line-height:28px;height:28px;display:block;float:right;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.NewProject .NewProjectFooter .NewProjectVeiwBtn:hover{background:none repeat scroll 0 0 #C50A0A;}
.NewProject #NewProjectContentSlides a.active .NewProjectContent{display:block;}
.NewProject #NewProjectContentSlides a .NewProjectContent{padding:24px 10px 0;display:none;}
.NewProject #NewProjectContentSlides a .NewProjectContent h4{color:#000;}
.NewProject #NewProjectContentSlides a .NewProjectContent i{color:#949292;font-size:11px;font-style:italic;}
.NewProject #NewProjectContentSlides a .NewProjectContent p{padding:8px 0 50px;color:#3c3835;font-size:12px;}
.RecentWorks{margin:0 0 30px;}
.RecentWorks .RecentWorksHeader{text-align:center;border-bottom:5px solid #C50A0A;position:relative;}
.RecentWorks .RecentWorksHeader h2{color:#000;text-align:left;float:left;}
.RecentWorks .RecentWorksHeader .RecentWorksCarouselCtrls{display:inline-block;float:right;}
.RecentWorks .RecentWorksHeader .RecentWorksCarouselCtrls .RecentWorksCarouselBtns{background:none repeat scroll 0 0 #ffffff;float:right;display:block;width:27px;height:27px;color:#aeadad;line-height:28px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.RecentWorks .RecentWorksHeader .RecentWorksCarouselCtrls .RecentWorksCarouselBtns:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
.RecentWorks .RecentWorksHeader .RecentWorksCarouselCtrls .RecentWorksCarouselBtns li{padding:0 10px 0;}
.RecentWorks .ImageWrapper{position:relative;z-index:499;}
.RecentWorks .ImageWrapper .ImageCaption{position:absolute;z-index:599;bottom:0;width:100%;background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height:60px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.RecentWorks .ImageWrapper .ImageCaption .CaptionContent{color:#FFFFFF;width:100%;text-align:center;padding:8px 0 8px;top:0;position:absolute;bottom:0;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.RecentWorks .ImageWrapper:hover .ImageCaption .CaptionContent{margin:54% 0 0;}
.RecentWorks .ImageWrapper:hover .ImageCaption{height:100%;}
.RecentWorks .ImageWrapper .Buttons{position:absolute;z-index:600;top:45%;bottom:0;opacity:0;left:50%;margin:0 0 0 -40px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.RecentWorks .ImageWrapper:hover .Buttons{opacity:1;}
.RecentWorks .ImageWrapper .Buttons a{background:none repeat scroll 0 0 #FFFFFF;display:inline-block;width:36px;height:36px;text-align:center;line-height:36px;color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.RecentWorks .ImageWrapper .Buttons a:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
.Testimonials{margin:0 0 30px;}
.Testimonials .TestimonialsContent{position:relative;border-left:41px solid #000;border-right:3px solid #000;margin:0 0 8px 0;background:none repeat scroll 0 0 #f8f8f8;}
.Testimonials .TestimonialsContent .TestimonialsEntry{padding:40px 46px 40px;}
.Testimonials .TestimonialsContent .TestimonialsEntry blockquote{color:#000;padding:10px 0 6px;background:none repeat scroll 0 0 transparent;font-style:normal;}
.Testimonials .TestimonialsBlocksWrapper ul li{margin:0 0 8px 0;padding:12px 25px 13px;border-left:3px solid #000;color:#000;position:relative;}
.Testimonials .TestimonialsBlocksWrapper ul li.active{background:none repeat scroll 0 0 #C50A0A;border-left:3px solid #C50A0A;color:#FFFFFF;}
.Testimonials .TestimonialsBlocksWrapper ul li.active:after{content:" ";left:0;top:50%;margin:-10px 0 0 -13px;border-top:10px solid transparent;border-left:0px solid transparent;border-right:10px solid #C50A0A;border-bottom:10px solid transparent;display:block;position:absolute;}
.Testimonials .TestimonialsBlocksWrapper ul li:hover{background:none repeat scroll 0 0 #C50A0A;border-left:3px solid #C50A0A;color:#FFFFFF;}
.Testimonials .TestimonialsBlocksWrapper ul li:hover:after{content:" ";left:0;top:50%;margin:-10px 0 0 -13px;border-top:10px solid transparent;border-left:0px solid transparent;border-right:10px solid #C50A0A;border-bottom:10px solid transparent;display:block;position:absolute;}
.OurClients{margin:0 0 30px;}
.OurClients .OurClientsHeader{text-align:center;border-bottom:2px solid #d4d4d4;-webkit-box-shadow:0 2px 0 rgba(255, 255, 255, .4);-moz-box-shadow:0 2px 0 rgba(255, 255, 255, .4);box-shadow:0 2px 0 rgba(255, 255, 255, .4);position:relative;}
.OurClients .OurClientsHeader:after{content:" ";left:50%;margin:0 0 0 -10px;border-top:10px solid #d9d9d9;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid transparent;display:block;position:absolute;}
.OurClients .OurClientsHeader h2{color:#a4a4a4;text-shadow:0 1px 0 rgba(255, 255, 255, 1);padding:0 0 10px;}
.OurClients .OurClientsHeader .OurClientsCarouselCtrls{position:absolute;right:0;top:0;z-index:599;margin:32px 0 0;}
.OurClients .OurClientsHeader .OurClientsCarouselCtrls .OurClientsCarouselBtns{background:none repeat scroll 0 0 #d4d4d4;float:right;display:block;width:20px;height:20px;line-height:20px;color:#8f8d8c;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.OurClients .OurClientsHeader .OurClientsCarouselCtrls .OurClientsCarouselBtns:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
.OurClients .OurClientsCarousel{padding:40px 0 45px;}
#BackToUp{position:relative;display:block;height:70px;width:100%;}
#BackToUp .BackToUpButton{background:none repeat scroll 0 0 #FFFFFF;color:#000;display:block;position:absolute;right:0;bottom:0;height:70px;width:70px;cursor:pointer;text-align:center;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#BackToUp .BackToUpButton span{font-size:42px;line-height:70px;}
#BackToUp .BackToUpButton:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
.Divider{border-bottom:6px solid #b6b6b6;position:relative;}
.Divider a{background:none repeat scroll 0 0 #cacbcb;color:#000;-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;padding:8px 8px;position:absolute;margin-top:-8px;z-index:499;}
.Divider a:after{top:0;left:0;margin:0 0 0 -8px;content:" ";border-top:4px solid transparent;border-left:4px solid transparent;border-right:4px solid #9b9b9b;border-bottom:4px solid #9b9b9b;display:block;position:absolute;}
.Divider a:before{top:0;right:0;margin:0 -8px 0 0;content:" ";border-top:4px solid transparent;border-left:4px solid #9b9b9b;border-right:4px solid transparent;border-bottom:4px solid #9b9b9b;display:block;position:absolute;}
footer#footer{background:none repeat scroll 0 0 #000;padding:56px 0;}
footer#footer p{color:#656363;}
footer#footer .FooterTwitterWidget{margin:30px 0 0;}
footer#footer .FooterTwitterWidget ul li{color:#c5c5c5;}
footer#footer .FooterTwitterWidget ul li h4{font-size:11px;font-style:italic;color:#656363;}
footer#footer .FooterTwitterWidget ul li img{width:74px;height:74px;border:3px solid #C50A0A;}
footer#footer .CommunicationPath{color:#c5c5c5;}
footer#footer .CommunicationPath ul li .media-heading{color:#ffffff;}
footer#footer .CommunicationPath ul li i{color:#3b3331;font-size:72px;}
.PrivacySection{background:none repeat scroll 0 0 #000;text-align:center;font:bold 11px'Arial', Helvetica, sans-serif;}
.PrivacySection ul{display:inline-block;margin:4px 0;}
.PrivacySection ul li{float:left;padding:0 12px;border-left:1px solid #c5c5c5;}
.PrivacySection ul li:first-child{border-left:medium none;}
.PrivacySection ul li a{color:#c5c5c5;}
.PrivacySection ul li a:hover{color:#C50A0A;}
.NewsLetter{background:none repeat scroll 0 0 #FFFFFF;}
.NewsLetter .input-group .form-control-wrapper{margin:19px 0;}
.NewsLetter .input-group .form-control{width:400px;background:none repeat scroll 0 0 #ebebeb;border:medium none;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .1);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .1);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .1);height:34px;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;}
.NewsLetter .input-group .btn-default{background:none repeat scroll 0 0 #C50A0A;border:medium none;color:#FFFFFF;width:152px;margin:0 0 0 34px;height:72px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;font-weight:lighter;font-size:22px;}
.NewsLetter ul li .media-heading{color:#000;}
.NewsLetter ul li .media-body{margin:12px 0 0;}
.NewsLetter ul li i{color:#000;font-size:72px;}
.CopyRightWrapper{background:none repeat scroll 0 0 #C50A0A;text-align:center;font:bold 11px'Arial', Helvetica, sans-serif;}
.CopyRightWrapper .CopyRight{line-height:30px;color:#FFFFFF;}
.BreadCrumbWrapper{width:100%;}
.BreadCrumbWrapper .breadcrumb{background:none repeat scroll 0 0 transparent;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;margin:0 0 0 0;}
.BreadCrumbWrapper .breadcrumb li{font-size:12px;color:#9b9b9b;}
.BreadCrumbWrapper .breadcrumb li a{color:#9b9b9b;}
.BreadCrumbWrapper .breadcrumb li a:hover{color:#000;}
#OurCrow{margin:20px 0 0;}
#OurCrow .Members{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);border:medium none;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;padding:8px 8px 0 8px;}
#OurCrow .Members .MembersImage{position:relative;}
#OurCrow .Members .MembersImage .Buttons{position:absolute;top:0;right:0;}
#OurCrow .Members .MembersImage .Buttons i{background:none repeat scroll 0 0 #C50A0A;width:33px;height:33px;float:right;text-align:center;line-height:33px;color:#000;text-shadow:0 1px 0 rgba(255,255,255,0.2);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#OurCrow .Members .MembersImage .Buttons i:hover{background:none repeat scroll 0 0 #000;color:#ffffff;}
#OurCrow .Members .MembersImage .Buttons i.InVisible{display:none;}
#OurCrow .Members:hover .MembersImage .Buttons i.InVisible{display:block;}
#OurCrow .Members:hover{background:none repeat scroll 0 0 #C50A0A;color:#ffffff;}
#OurCrow .Members:hover h3{color:#ffffff;}
#OurCrow .Members:hover p{color:#ffffff;}
#OurCrow .Members p{color:#919090;font:11px'Arial', Tahoma;}
.SpecialDivider{clear:both;text-align:center;height:2px;margin:40px auto 40px;position:relative;width:100%;background-color:#dedede;display:table;-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.SpecialDivider span{background-color:#282828;top:-40px;position:absolute;-webkit-border-radius:200px 200px 200px;-moz-border-radius:200px 200px 200px;border-radius:200px 200px 200px;border:12px solid #ebebeb;margin-left:-40px;color:#FFFFFF;font-size:24px;display:table-cell;line-height:54px;left:50%;width:80px;height:80px;}
.SkilsWrapper{margin:0 0 60px;text-align:center;}
.SkilsWrapper .SkilsTitle{text-align:center;margin:0 0 36px;}
.SkilsWrapper .OurSkils{text-align:center;margin:30px 0 30px;}
.SkilsWrapper .OurSkils h3{color:#555555;}
.SkilsWrapper .OurSkils small{color:#b4b4b4;}
.BlogNavigation{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);border:medium none;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;margin:10px 0 20px;}
.BlogNavigation .NavigationBrand{color:#000;}
.BlogNavigation .SearchInput{border:1px solid #c7c7c7;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;width:298px;}
.BlogNavigation .SearchButton{border:medium none;background:none repeat scroll 0 0 transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.BlogNavigation .Navigation{margin-right:0 !important;}
.BlogNavigation .Navigation > li{padding:0 0 0;margin:15px 0;}
.BlogNavigation .Navigation > li > a{border-right:1px solid #544b4a;padding:0 18px 0;color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.BlogNavigation .Navigation > li:first-child > a{padding:0 18px 0 0;}
.BlogNavigation .Navigation > li:last-child > a{padding:0 8px 0 8px;}
.BlogNavigation .Navigation > li > a:hover{color:#C50A0A;}
.BlogNavigation .Navigation ul.dropdown-menu{background:none repeat scroll 0 0 #525252;border-radius:0 0 0 0;box-shadow:none;border:medium none;padding:0 0 0;margin:8px 0 0;right:0;left:inherit;}
.BlogNavigation .Navigation ul.dropdown-menu > li > a{color:#FFFFFF;padding:12px 20px;}
.BlogNavigation .Navigation ul.dropdown-menu > li > a:hover{background:none repeat scroll 0 0 #C50A0A;}
article#article{margin:0 0 30px;}
article#article .ImageWrapper{position:relative;}
article#article .ImageWrapper .PostImage{width:100%;}
article#article .ImageWrapper .Buttons{position:absolute;bottom:0;right:0;}
article#article .ImageWrapper .Buttons a{background:none repeat scroll 0 0 #000;color:#FFFFFF;float:right;width:30px;height:30px;float:right;text-align:center;line-height:32px;}
article#article .ImageWrapper .Buttons a.active{background:none repeat scroll 0 0 #C50A0A;float:right;}
article#article .PostMeta{font:12px'Arial', Helvetica, sans-serif;color:#FFFFFF;background:none repeat scroll 0 0 #C50A0A;height:30px;}
article#article .PostMeta ul{list-style:none outside none;}
article#article .PostMeta ul li{float:left;padding:0 26px;line-height:30px;}
article#article .PostMeta ul li:first-child{background:none repeat scroll 0 0 #000;}
article#article .PostMeta ul li:last-child{padding:0 0 0 26px;}
article#article .PostMeta ul li a{color:#FFFFFF;}
article#article .SinglePost{padding:20px 20px 20px;position:relative;}
article#article .SinglePost .PostTitle{float:left;text-align:left;}
article#article .SinglePost .PostTitle h2{color:#000;font-weight:bold;padding:0 0 4px;}
article#article .SinglePost .PostTitle small{color:#a9aaa9;}
article#article .SinglePost .PostContent{margin:30px 0 0;float:left;}
article#article .SinglePost .PostContent blockquote{background:none repeat scroll 0 0 #F6F6F6;padding:30px 30px 30px;color:#A1A1A1;font-style:italic;}
article#article .SinglePost .PostContent h3{padding:0 0 4px;color:#C50A0A;}
article#article .SinglePost .PostContent p{color:#767676;padding:0 0 30px;}
article#article .SinglePost .PostContent p a{color:#C50A0A;}
article#article .SinglePost .PostContent p a:hover{color:#000;}
article#article .SinglePost .ReadMore{position:absolute;bottom:0;right:0;}
article#article .SinglePost .ReadMore .Button{color:#FFFFFF;background:none repeat scroll 0 0 #C50A0A;display:block;width:60px;height:30px;line-height:30px;text-align:center;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
article#article .SinglePost .ReadMore .Button:hover{background:none repeat scroll 0 0 #000;}
#PaginationWrapper{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);margin:0 0 60px;text-align:center;height:30px;position:relative;}
#PaginationWrapper a.PaginationCtrlLeft{position:absolute;bottom:0;left:0;display:block;width:30px;height:30px;text-align:center;line-height:30px;background:none repeat scroll 0 0 #000;color:#FFFFFF;}
#PaginationWrapper a.PaginationCtrlRight{position:absolute;bottom:0;right:0;display:block;width:30px;height:30px;text-align:center;line-height:30px;background:none repeat scroll 0 0 #000;color:#FFFFFF;}
#PaginationWrapper ul.pagination{display:inline-block;margin:0 auto;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;}
#PaginationWrapper ul.pagination li{float:left;background:none repeat scroll 0 0 #f6f6f6;padding:0 12px;}
#PaginationWrapper ul.pagination li.active{background:none repeat scroll 0 0 #C50A0A;}
#PaginationWrapper ul.pagination li.active a{color:#FFFFFF;}
#PaginationWrapper ul.pagination li a{line-height:30px;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;border:medium none;padding:0 0 0;background:none repeat scroll 0 0 transparent;color:#000;}
.Widget{margin-bottom:20px;}
.Widget .WidgetTitle{position:relative;}
.Widget .WidgetTitle h4{padding-bottom:8px;}
.Widget .WidgetTitle .CloseWidget{position:absolute;bottom:0;right:0;text-align:center;line-height:22px;color:#FFFFFF;display:block;width:26px;height:22px;background:none repeat scroll 0 0 #000;cursor:pointer;}
.Widget .WidgetBody{padding:24px 24px 24px;border-top:3px solid #000;position:relative;}
.Widget .WidgetBody ul{margin:0 0 20px;}
.Widget .WidgetBody ul li{padding:5px 0;}
.Widget .BlogCategories{padding:10px 20px !important;}
.Widget .BlogCategories ul{margin:0 0 !important;}
.Widget .BlogCategories ul li{border-bottom:1px solid #efefef;padding:10px 0 6px !important;}
.Widget .BlogCategories ul li a{color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.Widget .BlogCategories ul li a:hover{color:#C50A0A;}
.Widget .BlogCategories ul li:last-child{border-bottom:medium none;}
.Widget .LatestPost{padding:12px 24px 12px;}
.Widget .LatestPost ul li{border-bottom:1px solid #f0f0f0;}
.Widget .LatestPost ul li small{color:#b0aeae;font-style:italic;}
.Widget .LatestPost ul li h4{color:#000;}
.Widget .LatestPost ul li p{color:#767676;}
.Widget .LatestTweets{padding:24px 24px 8px;}
.Widget .LatestTweets ul{font-family:'Arial', Helvetica, sans-serif;}
.Widget .LatestTweets ul li{border-bottom:1px solid #f0f0f0;color:#595857;padding:8px 0;}
.Widget .LatestTweets ul li:last-child{border:medium none;}
.Widget .LatestTweets ul li a{color:#66b8f1;}
.Widget .Accordion{padding:10px 20px !important;}
.Widget .Accordion ul{margin:0 0 !important;}
.Widget .Accordion ul li{border-top:1px solid #efefef;padding:18px 0 18px !important;}
.Widget .Accordion ul li:first-child{border-top:medium none;}
.Widget .Accordion ul li a.Plus:before{content:'\e81d';font-family:"FontAwesome";padding:0 12px 0 0;}
.Widget .Accordion ul li a.Minus:before{content:'\e821';font-family:"FontAwesome";padding:0 12px 0 0;}
.Widget .Accordion ul li a{color:#000;font-weight:bolder;text-decoration:none;}
.Widget .Accordion p{color:#767676;padding:0 8px 20px 20px !important;font:12px'Arial';}
.Widget .TagsWidget{padding:18px 0;}
.Widget .TagsWidget a{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);padding:4px 8px;color:#000;white-space:nowrap;line-height:34px;margin:0 4px 0 0;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.Widget .TagsWidget a:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
.PostAuthor{margin:0 0 60px;}
.PostAuthor .PostAuthorImage{border:1px solid #e6e6e6;background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);margin:0 0 20px;}
.PostAuthor .PostAuthorImage img{padding:4px 4px 4px;max-width:100%;}
.PostAuthor .PostAuthorImage h4{color:#282828;padding:2px 0 6px;text-align:center;line-height:12px;font-size:12px;}
.PostAuthor .AuthorInformation{background:none repeat scroll 0 0 #FFFFFF;position:relative;}
.PostAuthor .AuthorInformation p{color:#767676;padding:16px 12px;}
.PostAuthor .AuthorInformation .Triangle{position:absolute;left:0;bottom:0;border-left:6px solid transparent;border-right:6px solid #FFFFFF;border-bottom:6px solid transparent;border-top:6px solid #FFFFFF;width:0;height:0;margin:0 0 0 -12px;}
.PostAuthor .MetaPostAuthor{font:12px'Arial', Helvetica, sans-serif;color:#FFFFFF;background:none repeat scroll 0 0 #C50A0A;min-height:30px;}
.PostAuthor .MetaPostAuthor ul{list-style:none outside none;}
.PostAuthor .MetaPostAuthor ul li{float:left;padding:0 26px;line-height:30px;}
.PostAuthor .MetaPostAuthor ul li:last-child{background:none repeat scroll 0 0 #000;}
.PostAuthor .MetaPostAuthor ul li a{color:#FFFFFF;}
.PostAuthor .Socials ul li{padding:10px 20px;float:left;}
.PostAuthor .Socials ul li a{color:#c7c7c7;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.PostAuthor .Socials ul li a:hover{color:#606060;}
#CommentsWrapper{margin:0 0 20px;}
#CommentsWrapper .SectionTitle{text-align:center;color:#282828;margin:0 0 24px;}
#CommentsWrapper .Comments{margin:0 0 60px;}
#CommentsWrapper .Comments .media > .pull-left{margin-right:20px !important;}
#CommentsWrapper .Comments .Gravatar{position:relative;border:1px solid #e6e6e6;background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);}
#CommentsWrapper .Comments .Gravatar img{padding:4px 4px 4px;max-width:100%;}
#CommentsWrapper .Comments .Gravatar h4{color:#282828;padding:2px 0 8px;text-align:center;line-height:12px;font-size:12px;}
#CommentsWrapper .Comments .Comment{background:none repeat scroll 0 0 #FFFFFF;position:relative;}
#CommentsWrapper .Comments .Comment p{color:#767676;padding:18px 12px 26px;line-height:24px;}
#CommentsWrapper .Comments .Comment .ReplyButton{line-height:24px;text-align:center;width:94px;height:24px;display:block;position:absolute;bottom:0;right:0;background:none repeat scroll 0 0 #C50A0A;}
#CommentsWrapper .Comments .Comment .ReplyButton a{color:#FFFFFF;text-align:center;}
#CommentsWrapper .LeaveMassage .CommentInput{margin:0 0 15px;background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);border:medium none;-webkit-border-radius:0 0 0;-moz-border-radius:0 0 0;border-radius:0 0 0;}
#CommentsWrapper .LeaveMassage .CommentTextArea{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);border:medium none;-webkit-border-radius:0 0 0;-moz-border-radius:0 0 0;border-radius:0 0 0;resize:vertical;}
#CommentsWrapper .SubCleButtons{font-size:11px;}
#CommentsWrapper .SubCleButtons .Button{background:none repeat scroll 0 0 #000;border:medium none;color:#FFFFFF;padding:5px 54px;float:right;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#CommentsWrapper .SubCleButtons .Button:hover{background:none repeat scroll 0 0 #C50A0A;}
#ContactWrapper{margin:0 0 40px;}
#ContactWrapper .LeaveMassage .MassageInput{margin:0 0 15px;background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);border:medium none;-webkit-border-radius:0 0 0;-moz-border-radius:0 0 0;border-radius:0 0 0;}
#ContactWrapper .LeaveMassage .MassageTextArea{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);border:medium none;-webkit-border-radius:0 0 0;-moz-border-radius:0 0 0;border-radius:0 0 0;resize:vertical;}
#ContactWrapper .SubCleButtons{font-size:11px;}
#ContactWrapper .SubCleButtons .Button{background:none repeat scroll 0 0 #000;border:medium none;color:#FFFFFF;padding:5px 54px;float:right;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#ContactWrapper .SubCleButtons .Button:hover{background:none repeat scroll 0 0 #C50A0A;}
.GoogleMapWrapper{margin:0 0 30px;}
.GoogleMapWrapper .MapShadow{-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);}
.Widget .ContactDetails{padding:16px 18px !important;}
.Widget .ContactDetails ul{margin:0 0 0 !important;}
.Widget .ContactDetails ul li h4{color:#000;}
.Widget .ContactDetails ul li .media-body{color:#767676;}
.Widget .ContactDetails ul li a{color:#000;}
.Error404{text-align:center;margin:150px 0 100px;}
.Error404 h1{font-size:240px;margin:0 0 40px;line-height:170px;}
.Error404 h1 .Orange{color:#C50A0A;}
.Error404 h2{font-weight:bold;}
.PortfolioNavigation{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);border:medium none;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;margin:10px 0 20px;}
.PortfolioNavigation .NavigationBrand{color:#000;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector{margin:0 0 0 0;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li{padding:0 0 0;margin:15px 0;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li > a{border-right:1px solid #544b4a;padding:0 18px 0;color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li:first-child > a{padding:0 18px 0 0;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li:last-child > a{padding:0 8px 0 8px;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector > li > a:hover{color:#C50A0A;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector ul.dropdown-menu{background:none repeat scroll 0 0 #525252;border-radius:0 0 0 0;box-shadow:none;border:medium none;padding:0 0 0;margin:8px 0 0;right:0;left:inherit;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector ul.dropdown-menu > li > a{color:#FFFFFF;padding:12px 20px;}
.PortfolioNavigation .PortfolioSelectorWrapper .PortfolioSelector ul.dropdown-menu > li > a:hover{background:none repeat scroll 0 0 #C50A0A;}
.PortfolioMosaic{margin:0 0 20px;}
.PortfolioMosaic .ImageWrapper{position:relative;z-index:499;}
.PortfolioMosaic .ImageWrapper img{width:100%;}
.PortfolioMosaic .ImageWrapper .ImageCaption{position:absolute;z-index:599;bottom:0;width:100%;background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height:60px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.PortfolioMosaic .ImageWrapper .ImageCaption .CaptionContent{color:#FFFFFF;width:100%;text-align:center;padding:8px 0 8px;top:0;position:absolute;bottom:0;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.PortfolioMosaic .ImageWrapper:hover .ImageCaption .CaptionContent{margin:54% 0 0;}
.PortfolioMosaic .ImageWrapper:hover .ImageCaption{height:100%;}
.PortfolioMosaic .ImageWrapper .Buttons{position:absolute;z-index:600;top:45%;bottom:0;opacity:0;left:50%;margin:0 0 0 -40px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.PortfolioMosaic .ImageWrapper:hover .Buttons{opacity:1;}
.PortfolioMosaic .ImageWrapper .Buttons a{background:none repeat scroll 0 0 #FFFFFF;display:inline-block;width:36px;height:36px;text-align:center;line-height:36px;color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.PortfolioMosaic .ImageWrapper .Buttons a:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
#AddMore{text-align:center;margin:20px 0 50px;}
#AddMore a{color:#000;font:14px 'Open Sans', Arial, sans-serif;}
#AddMore a:hover{color:#C50A0A;}
#PortfolioCtrlWrapper{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);margin:0 0 20px;height:45px;padding:0 0 0 10px;}
#PortfolioCtrlWrapper h3{color:#494747;line-height:45px;}
#PortfolioCtrlWrapper .PortfolioCtrls a{width:45px;height:45px;display:inline-block;background:none repeat scroll 0 0 #000;color:#838282;line-height:45px;float:right;text-align:center;font-size:18px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#PortfolioCtrlWrapper .PortfolioCtrls a:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
#PortfolioDesignerWrapper{margin:0 0 20px;}
#PortfolioDesignerWrapper .SectionTitle{text-align:center;color:#282828;margin:0 0 24px;}
#PortfolioDesignerWrapper .PortfolioDesigner{margin:0 0 60px;}
#PortfolioDesignerWrapper .PortfolioDesigner .Gravatar{border:1px solid #e6e6e6;background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);margin:0 0 20px;}
#PortfolioDesignerWrapper .PortfolioDesigner .Gravatar img{padding:4px 4px 4px;max-width:100%;}
#PortfolioDesignerWrapper .PortfolioDesigner .Gravatar h4{color:#282828;padding:2px 0 6px;text-align:center;line-height:12px;font-size:12px;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Content{background:none repeat scroll 0 0 #FFFFFF;position:relative;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Content p{color:#767676;padding:16px 12px;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Content .Triangle{position:absolute;left:0;bottom:0;border-left:6px solid transparent;border-right:6px solid #FFFFFF;border-bottom:6px solid transparent;border-top:6px solid #FFFFFF;width:0;height:0;margin:0 0 0 -12px;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation{font:12px'Arial', Helvetica, sans-serif;color:#FFFFFF;background:none repeat scroll 0 0 #C50A0A;min-height:30px;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation ul{list-style:none outside none;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation ul li{float:left;padding:0 26px;line-height:30px;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation ul li:last-child{background:none repeat scroll 0 0 #000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .MetaInformation ul li a{color:#FFFFFF;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Socials ul li{padding:10px 20px;float:left;}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Socials ul li a{color:#c7c7c7;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
#PortfolioDesignerWrapper .PortfolioDesigner .ContentWrapper .Socials ul li a:hover{color:#606060;}
.LunchProject{background:none repeat scroll 0 0 #C50A0A;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);margin:0 0 20px;height:45px;text-align:center;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.LunchProject:hover{background:none repeat scroll 0 0 #000;}
.LunchProject h3{color:#000;line-height:45px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.LunchProject:hover h3{color:#FFFFFF;}
.Widget .ProjectDetails{padding:10px 20px !important;}
.Widget .ProjectDetails ul{margin:0 0 !important;}
.Widget .ProjectDetails ul li{border-bottom:1px solid #efefef;padding:10px 0 6px !important;}
.Widget .ProjectDetails ul li a{color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.Widget .ProjectDetails ul li a:hover{color:#C50A0A;}
.Widget .ProjectDetails ul li:last-child{border-bottom:medium none;}
.Widget .Testimonials{padding:24px 24px 24px;}
.Widget .Testimonials small{color:#b0aeae;font-style:italic;}
.Widget .Testimonials h4{color:#000;}
.Widget .Testimonials p{color:#767676;padding:0 0 8px;}
.ServicesHeader{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/ServicesHeader.png) no-repeat 0 0 #C50A0A;-moz-background-size:cover;-o-background-size:cover;background-size:cover;display:block;border:Solid red 1px;}
.ServicesHeader .Slogan{padding-top:45px;padding-bottom:45px;}
.ServicesCarouselWrapper{background:none repeat scroll 0 0 #dddddd;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, .2);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, .2);box-shadow:inset 0 1px 2px rgba(0, 0, 0, .2);}
.ServicesCarouselWrapper .ServicesShortcut{padding:20px 0;text-align:center !important;color:#a4a4a4;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);font-weight:bold;font-family:'Arial', Tahoma;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.ServicesCarouselWrapper .ServicesShortcut h4{text-align:center !important;}
.ServicesCarouselWrapper .ServicesShortcut.active{background:none repeat scroll 0 0 #FFFFFF;color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.ServicesCarouselWrapper .ServicesShortcut.active:hover{color:#000;}
.ServicesCarouselWrapper .ServicesShortcut:hover{color:#666666;}
.ServiceContent{padding:36px 20px;margin-bottom:30px;}
.ServiceContent h2{padding:0 0 16px;color:#545453;}
.ServiceContent p{color:#616161;font-family:'Arial', Helvetica, sans-serif;}
.ServiceContent p a{color:#C50A0A;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.ServiceContent p a:hover{color:#000;}
.ServiceContent p img{width:100%;margin:16px 0;}
.ServicesCarouselCtrls{position:relative;z-index:499;height:52px;}
.ServicesCarouselCtrls .ServicesCustomNavigation{top:0;right:0;position:absolute;z-index:599;}
.ServicesCarouselCtrls .ServicesCustomNavigation .owl-btn{display:block;width:20px;height:20px;background-color:#dddddd;float:right;cursor:pointer;color:#a4a4a4;line-height:20px;}
.ServicesCarouselCtrls .ServicesCustomNavigation .owl-btn:hover{background-color:#000;color:#ffffff;}
.Widget .SurveyWidget .VoteButton{position:absolute;bottom:0;right:0;}
.Widget .SurveyWidget .VoteButton a{color:#FFFFFF;padding:5px 15px 5px;background:none repeat scroll 0 0 #C50A0A;display:inline-block;}
.SpecialWidget{margin-bottom:20px;}
.SpecialWidget .WidgetBody ul a{color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.SpecialWidget .WidgetBody ul a:hover{color:#C50A0A;}
.SpecialWidget .WidgetBody ul li{border-bottom:1px solid #d9d9d9;border-top:1px solid #f5f5f5;padding:18px 6px;}
.SpecialWidget .WidgetBody ul li:first-child{border-top:medium none;}
.SpecialWidget .WidgetBody ul li:last-child{border-bottom:medium none;}
#FullWidthNavigation{background:none repeat scroll 0 0 #000;z-index:300;position:relative;}
#FullWidthNavigation .navbar-collapse{border:medium none;}
#FullWidthNavigation .navbar-default{background:none repeat scroll 0 0 #000;border-radius:0 0 0 0;box-shadow:none;border:medium none;margin:0 0 0 0;z-index:300;}
#FullWidthNavigation .navbar-default ul.nav .caret{border-bottom-color:#C50A0A;border-top-color:#C50A0A;}
#FullWidthNavigation .navbar-default ul.nav .open a{background:none repeat scroll 0 0 transparent;border:medium none;}
#FullWidthNavigation .navbar-default ul.nav .open a:hover{background:none repeat scroll 0 0 transparent;border:medium none;}
#FullWidthNavigation .navbar-default ul.nav .open a:focus{background:none repeat scroll 0 0 transparent;border:medium none;}
#FullWidthNavigation .navbar-default ul.nav li{font-size:11px;font-weight:bold;}
#FullWidthNavigation .navbar-default ul.nav li a{padding:0 64px 0 35px;background:none repeat scroll 0 0 transparent;border-radius:0 0 0;color:#FFFFFF;line-height:50px;box-shadow:none;text-shadow:none;}
#FullWidthNavigation .navbar-default ul.nav li a:hover{background:none repeat scroll 0 0 transparent;color:#999999;}
#FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu{background:none repeat scroll 0 0 #C50A0A;border-radius:0 0 0;border:medium none;margin:0 0 0;padding:0 0 0;}
#FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li{border-bottom:1px solid #e77e00;border-top:1px solid #ffa436;}
#FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:first-child{border-top:medium none;}
#FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:last-child{border-bottom:medium none;}
#FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li a{color:#000;padding:0 10px 0 25px !important;line-height:38px !important;}
#FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:hover{background:none repeat scroll 0 0 #000;}
#FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:hover a{color:#FFFFFF;}
#FullWidthNavigation .navbar-default ul.nav ul.dropdown-menu li:hover a:hover{color:#FFFFFF;}
#FullWidthNavigation .StyleSwitcher{position:absolute;width:50%;background:none repeat scroll 0 0 #000;right:0;line-height:50px;top:0;z-index:299;}
#FullWidthNavigation .StyleSwitcher i{display:block;height:50px;width:50px;background:none repeat scroll 0 0 #C50A0A;color:#000;float:right;text-align:center;font-size:24px;}
#FullWidthNivoSlider{margin:0 0 10px;}
#FullWidthNivoSlider .NivoSliderWrapper{width:100%;overflow:hidden;position:relative;}
#FullWidthNivoSlider .NivoSliderWrapper .carousel-caption{bottom:0;padding:20px 20px 20px;left:15.2%;right:15.2%;background:none repeat scroll 0 0 rgba(0,0,0,.4);text-align:left;}
#FullWidthNivoSlider .NivoSliderWrapper .carousel-control-home-version2 .icon-angle-left,
#FullWidthNivoSlider .NivoSliderWrapper .carousel-control-home-version2 .icon-angle-right{font-size:144px;color:#C50A0A;position:absolute;display:inline-block;top:30%;right:4%;bottom:0;}
.ColumnBlock{display:block;width:100%;height:40px;line-height:40px;text-align:center;}
.ElementsHeader{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/ElementsHeader.png) no-repeat 0 0 #C50A0A;-moz-background-size:cover;-o-background-size:cover;background-size:cover;display:block;}
.ElementsHeader .Slogan{padding-top:45px;padding-bottom:45px;}
.ElementsDividerWrapper .SectionTitle{text-align:center;color:#282828;margin:0 0 35px;font:16px 'Open Sans',Arial,sans-serif;}
.SuccessAlert{background-color:#d3ebb7;border:1px solid #9adf8f;padding:15px 24px;color:#404040;}
.SuccessAlert a{color:#6da662;font-size:42px;}
.SuccessAlert h4{color:#258815;font:16px 'Open Sans',Arial,sans-serif;}
.WarningAlert{background-color:#f3f1c4;border:1px solid #e5db55;padding:15px 24px;color:#404040;}
.WarningAlert a{color:#dbd149;font-size:42px;}
.WarningAlert h4{color:#878314;font:16px 'Open Sans',Arial,sans-serif;}
.ErrorAlert{background-color:#f6cace;border:1px solid #df8f90;padding:15px 24px;color:#404040;}
.ErrorAlert a{color:#d46e77;font-size:42px;}
.ErrorAlert h4{color:#871414;font:16px 'Open Sans',Arial,sans-serif;}
.VideoContainer{position:relative;overflow:hidden;margin-top:20px;margin-bottom:10px;padding:20px 0 52%;}
.VideoContainer iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.nivo-directionNav a{color:#C50A0A !important;}
.MasterSliderWrapper{position:relative !important;}
.placeholder{color:#c8c8c8;}
.isotope,
.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope-item{z-index:2;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform, opacity;-moz-transition-property:-moz-transform, opacity;-o-transition-property:-o-transform, opacity;transition-property:transform, opacity;}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;}
.portfolio-mosaic{margin:0 0 20px;}
.portfolio-mosaic figure{position:relative;z-index:499;}
.portfolio-mosaic figure img{width:100%;}
.portfolio-mosaic figure .image-caption{position:absolute;z-index:599;bottom:0;width:100%;background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);height:60px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.portfolio-mosaic figure .image-caption .caption{color:#FFFFFF;width:100%;text-align:center;padding:8px 0 8px;top:0;position:absolute;bottom:0;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.portfolio-mosaic figure:hover .image-caption .caption{margin:54% 0 0;}
.portfolio-mosaic figure:hover .image-caption{height:100%;}
.portfolio-mosaic figure .icon-overlay{position:absolute;z-index:600;top:45%;bottom:0;opacity:0;left:50%;margin:0 0 0 -40px;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;}
.portfolio-mosaic figure:hover .icon-overlay{opacity:1;}
.portfolio-mosaic figure .icon-overlay a{background:none repeat scroll 0 0 #FFFFFF;display:inline-block;width:36px;height:36px;text-align:center;line-height:36px;color:#221918;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;position:relative;left:22px;}
.portfolio-mosaic figure .icon-overlay a:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
.controls-wrapp{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);margin:0 0 20px;height:45px;padding:0 0 0 10px;}
.controls-wrapp h3{color:#494747;line-height:45px;}
.controls-wrapp .controls a{width:45px;height:45px;display:inline-block;background:none repeat scroll 0 0 #221918;color:#838282;line-height:45px;float:right;text-align:center;font-size:18px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.controls-wrapp .controls a:hover{background:none repeat scroll 0 0 #C50A0A;color:#FFFFFF;}
header.about-us{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/about-us.jpg) no-repeat 0 0 #C50A0A;-moz-background-size:cover;-o-background-size:cover;background-size:cover;display:block;}
header.removals{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/removals.jpg) no-repeat 0 84% #C50A0A;-moz-background-size:cover-o-background-size:cover;background-size:cover;display:block;}
header.disposals{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/disposals.jpg) no-repeat 0 -15px #C50A0A;-moz-background-size:cover;-o-background-size:cover;background-size:cover;display:block;}
header.logistics{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/logistic-1-header.jpg) no-repeat 0 -15px #C50A0A;-moz-background-size:cover;-o-background-size:cover;background-size:cover;display:block;}
header.delivery{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/delivery.jpg) no-repeat 0 -15px #C50A0A;-moz-background-size:cover;-o-background-size:cover;background-size:cover;display:block;}
header.storage{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/storage.jpg) no-repeat 0 -15px #C50A0A;-moz-background-size:cover;-o-background-size:cover;background-size:cover;display:block;}
header.gallery{margin:0 0 20px;height:auto;max-width:100%;background:url(../images/headers/gallery.jpg) no-repeat 0 -15px #C50A0A;-moz-background-size:cover;-o-background-size:cover;background-size:cover;display:block;}
header.elements .slogan{padding-top:45px;padding-bottom:45px;color:#fff;}
.svc-carousel-wrapp{background:none repeat scroll 0 0 #dddddd;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, .2);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, .2);box-shadow:inset 0 1px 2px rgba(0, 0, 0, .2);}
.svc-carousel-wrapp .service-item{padding:20px 0;text-align:center !important;color:#a4a4a4;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);font-weight:bold;font-family:'Arial', Tahoma;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.svc-carousel-wrapp .service-item h4{text-align:center !important;}
.svc-carousel-wrapp .service-item.active{background:none repeat scroll 0 0 #FFFFFF;color:#000;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.svc-carousel-wrapp .service-item.active:hover{color:#221918;}
.svc-carousel-wrapp .service-item:hover{color:#666666;}
.service-content{padding:36px 20px;margin-bottom:30px;}
.service-content h2{padding:0 0 16px;color:#545453;}
.service-content p{color:#616161;font-family:'Arial', Helvetica, sans-serif;}
.service-content p a{color:#C50A0A;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.service-content p a:hover{color:#221918;}
.service-content p img{width:100%;margin:16px 0;}
.svc-carousel-ctrls{position:relative;z-index:499;height:52px;}
.svc-carousel-ctrls .controls{top:0;right:0;position:absolute;z-index:599;}
.svc-carousel-ctrls .controls .owl-btn{display:block;width:20px;height:20px;background-color:#dddddd;float:right;cursor:pointer;color:#a4a4a4;line-height:20px;}
.svc-carousel-ctrls .controls .owl-btn:hover{background-color:#221918;color:#ffffff;}
.portfolio-navbar{background:none repeat scroll 0 0 #FFFFFF;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1);box-shadow:0 1px 2px rgba(0, 0, 0, .1);border:medium none;-webkit-border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;border-radius:0 0 0 0;margin:10px 0 20px;}
.portfolio-navbar .navbar-title{color:#221918;}
.portfolio-navbar ul.portfolio-filter{margin-right:0 !important;}
.portfolio-navbar ul.portfolio-filter > li{padding:0 0 0;margin:15px 0;}
.portfolio-navbar ul.portfolio-filter > li > a{border-right:1px solid #544b4a;padding:0 18px 0;color:#221918;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.portfolio-navbar ul.portfolio-filter > li:first-child > a{padding:0 18px 0 0;}
.portfolio-navbar ul.portfolio-filter > li:last-child > a{padding:0 8px 0 8px;}
.portfolio-navbar ul.portfolio-filter > li > a:hover{color:#C50A0A;}
.portfolio-navbar ul.portfolio-filter ul.dropdown-menu{background:none repeat scroll 0 0 #525252;border-radius:0 0 0 0;box-shadow:none;border:medium none;padding:0 0 0;margin:8px 0 0;right:0;left:inherit;}
.portfolio-navbar ul.portfolio-filter ul.dropdown-menu > li > a{color:#FFFFFF;padding:12px 20px;}
.portfolio-navbar ul.portfolio-filter ul.dropdown-menu > li > a:hover{background:none repeat scroll 0 0 #C50A0A;}


div.contact_form form,
div.contact_form table,
div.contact_form td,
div.contact_form th    { margin: 0px; padding: 0px; vertical-align: top; text-align: left; }

div.contact_form table { border-collapse: collapse; }
div.contact_form th    { padding: 0px 10px 3px 0px; }
div.contact_form td    { padding: 0px  0px 3px 0px; }

div.contact_form img   { margin-left: 5px; }

div.contact_form em
{
  text-decoration: none;
  font-style:  normal;

  color: #004080;
}

div.contact_form  em.error, div.contact_form form em { color: #FF0000; }
div.contact_form div.error { margin-bottom: 15px; }

div.contact_form div.input { float:  left; }
div.contact_form select    { width: 250px; }
.carousel-indicators .active{ 
					background: #31708f; 
} 

.testimonialhead{
	color: #C50A0A;
}


.adjust1{ 
	float:left; 
	width:100%; 
	margin-bottom:0; 
	padding-left: 50px;

} 

.adjust2{ 
	margin:0; 
} 

// .testimonial-head{
// 	background-color: #C50A0A;
// 	padding: 10px 0 0 70px;
// 	// color: #fff;
// 	width: 100%;
// 	height: auto;
// 	//line-height: 20px;
// 	//text-overflow: ellipsis;

// 	h1{
// 		color: #fff;
// 	}

// }
//make the header fold properly in mobile
// @media only screen and (min-device-width:768px) and (max-device-width:1024px){
// 	.testimonialhead h1{
// 		line-height: 10px;
// 		// text-overflow: ellipsis;
// 		font-size: 1.5em;
// 	}
// }


//
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)
  // and (-webkit-min-device-pixel-ratio: 2) 
  {

  	.testimonial-head h1{
	background-color: #C50A0A;
	padding: 10px 0 0 70px;
	color: #fff;
	width: 100%;
	height: auto;
	//line-height: 20px;
	//text-overflow: ellipsis;

}

}


.blockquoteh{
		height: 30px;
}
.carousel-indicators li{ 
		border :1px solid #ccc; 
} 
.testimonial-text{
	padding: 5px 5px 0 0;
}

.carousel-control{ 
		color:#31708f; width:5%; 
} 

.carousel-control:hover, .carousel-control:focus{ 
										color:#31708f; 
} 



.media-object{ 
		margin:auto; margin-top:15%; 
} 

@media screen and (max-width: 768px) { 
					.media-object{ margin-top:0;} 
					.form-width{
						width: 100%;
					}
}

/* Portrait and Landscape */
/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) { 
	.pamole{
	width: 100%;
	overflow-x: hidden;
	}	
 }

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

