.terms-condition h1 {
  margin-bottom: 30px;
}
.terms-condition h2 {
  margin-bottom: 10px;
}
.terms-condition h3 {
  margin-bottom: 20px;
}
.terms-condition object {
  border-style: none;
  width: 900px;
  height: 900px;
}
/* Portrait and Landscape */
@media only screen and (min-width: 310px) and (max-width: 1024px) {
  .terms-condition h1 {
    width: 100%;
    font-size: 1.3em;
    line-height: 1.5em;
  }
  .terms-condition h2 {
    font-size: 0.9em;
  }
  .terms-condition object {
    border-style: none;
    width: 100%;
    height: 300px;
    overflow: auto;
  }
}
@media only screen and (max-width: 310px) {
  h1 {
    font-size: 0.8rem;
    line-height: 1.9rem;
  }
  h2 {
    font-size: 0.9em;
  }
  object {
    border-style: none;
    width: 100%;
    height: 300px;
    overflow: auto;
  }
}
/*# sourceMappingURL=terms-condition.css.map */