// @redcolor: #C50A0A;

.terms-condition{
			// margin-bottom: 10px;
			h1{
				margin-bottom: 30px;
			}

			h2{
				margin-bottom: 10px;
			}

			h3{
				margin-bottom: 20px;
			}


					object{
							
							border-style: none;
							width: 900px;
							height: 900px;
					}

}


/* Portrait and Landscape */
@media only screen 
  and (min-width: 310px) 
  and (max-width: 1024px)
  
  {

	  	.terms-condition{

			  	h1{
						// margin-bottom: 30px;
						width: 100%;
						//height: 50px;
						font-size: 1.3em;
						line-height: 1.5em;

					}

			h2{
				font-size: 0.9em;
			}

					object{
							// position: absolute;
							
							border-style: none;
							width: 100%;
							height: 300px;
							overflow: auto;
					}


		}
  	
}



//for funny screens
@media only screen 
  and (max-width: 310px){
  			h1{
				// margin-bottom: 30px;
				font-size: 0.8rem;
				line-height: 1.9rem;

	}

	h2{
				font-size: 0.9em;
			}

	object{
					// position: absolute;
					border-style: none;
					width: 100%;
					height: 300px;
					overflow:auto;
			}



}

//     .iframe-container {    
//     padding-bottom: 60%;
//     padding-top: 30px; height: 0; overflow: hidden;
// }
 
// .iframe-container iframe,
// .iframe-container object,
// .iframe-container embed{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }

// .modal.in .modal-dialog {
//   transform: none; /*translate(0px, 0px);*/
// }