.editorgrid-editablecell {
	background:url('images/16x16/celledit.png') no-repeat top right !important;
}

.x-grid3-row-selected .editorgrid-editablecell {
	background:url('images/16x16/celledit.png') no-repeat top right !important;
}

#mainNorthPanel{
	font:bold 12px tahoma,arial,helvetica;
}

.go_logo{
	padding:2px;	
}


.go-top-panel .x-panel-body{
	 padding:3px;
   border:0px none;
   background:#0000aa url(images/hd-sprite.gif) repeat-x 0px -83px;
   padding-top:3px;
   padding-left:3px;
   color:white !important;
   font:bold 12px tahoma,arial,helvetica;
   height:20px !important;
}

.go-header-toolbar{
	background:transparant!important;
}
#headerLeft{
float:left;
background: url('images/go_logo.gif') 1px 2px no-repeat;
height:20px;
padding-left:22px;
line-height:20px;
}
#headerRight{
float:right;
background:transparant;
margin:0;
vertical-align:middle;
}

.go-top-panel a:visited, .go-top-panel a:link, .go-top-panel a:active, .go-top-panel a:hover {
color: white !important;
line-height:20px;
}
.go-top-panel .x-form-text {
	color:white !important;	
	background:#0000aa url(images/hd-sprite.gif) repeat-x 0px -83px !important;
	border:1px solid white;
	padding-left:2px;
	height:15px !important;
}

/* start buttons */
.btn-add {
	background-image:url('images/16x16/gtk-add.png') !important;
}

.btn-alert {
	background-image:url('images/16x16/alert.png') !important;
}

.btn-delete {
	background-image:url('images/16x16/gtk-delete.png') !important;
}

.btn-edit {
	background-image:url('images/16x16/edit.png') !important;
}

.btn-select-all {
	background-image:url('images/16x16/actions.png') !important;
}

.btn-report-bug {
	background-image:url('images/16x16/bug.png') !important;
}

.btn-search {
	background-image:url('images/16x16/icon-search.png') !important;
}

.btn-help {
	background-image:url('images/16x16/icon-help.png') !important;
}

.btn-ok {
	background-image:url('images/16x16/ok.png') !important;
}

.btn-settings {
	background-image:url('images/16x16/administration.png') !important;
}

.btn-export {
	background-image:url('images/16x16/export.png') !important;
}

.btn-logout {
	background-image:url('images/16x16/gnome-logout.png') !important;
}

.btn-dismiss{
	background-image:url('images/16x16/clock.png') !important;
}

.btn-close {
	background-image:url('images/16x16/gtk-close.png') !important;
}


.btn-save {
	background-image:url('images/16x16/gtk-save.png') !important;
}

.btn-permissions {
	background-image:url('images/16x16/permissions.png') !important;
}

.btn-actions {
	background-image:url('images/16x16/actions.png') !important;
}
.btn-extra {
	background-image:url('images/16x16/actions.png') !important;
}

.btn-print{
	background-image:url('images/16x16/print.png') !important;
}

.btn-link {
	background-image:url('images/16x16/connect_established.png') !important;
}

.btn-unlink {
	background-image:url('images/16x16/stock-disconnect.png') !important;


}

.btn-search-addressbook {
	background-image:url('images/16x16/search_addressbook.png') !important;


}

.btn-refresh {
	background-image:url('images/16x16/reload.png') !important;
}

.btn-left-arrow {
	background-image:url('images/16x16/1leftarrow.png') !important;
}

.btn-right-arrow {
	background-image:url('images/16x16/1rightarrow.png') !important;
}

.btn-info{
	background-image:url('images/16x16/info.png') !important;
}

.btn-upload{
	background-image:url('images/16x16/gtk-save.png') !important;
}
.btn-forum {
	background-image:url('images/16x16/forum.png') !important;
}

.btn-email {
	background-image:url('images/16x16/email.png') !important;
}

.btn-folder{
	background-image:url('images/16x16/folder.png') !important;
}

/* end buttons */

/*start edit buttons */


.x-html-editor-tb .go-edit-insertimage .x-btn-text{
	background:transparent url('images/16x16/filetypes/images.png') no-repeat !important;
}

.x-html-editor-tb .go-edit-insertlink .x-btn-text{
	background:transparent url('images/16x16/link.png') no-repeat !important;
}

.x-html-editor-tb .go-edit-selectVariable .x-btn-text {
	background:transparent url('images/16x16/filetypes/images.png') no-repeat !important;
}

.go-icon-reminders{
	background: url('images/16x16/reminders.png');
}

.go-grid-icon{
	background-repeat:no-repeat;
	padding-left:20px;
	height:16px;	
}

.go-grid-row-inactive {
  color: #aaa;
}

/* Group-Office icon displayed in the top bar */
.go-app-icon{
	background: url('images/16x16/go-icon.png');
}


.go-important-icon{
	background: url('images/16x16/important.png') no-repeat !important;
	height:16px;
	padding-left:20px;
	line-height:16px;
}

/* Search icon displayed in top bar */
.go-search-icon, .go-search-icon-tab{
	background-image: url('images/16x16/icon-search.png') !important;
}


/* Group-Office logo displayed in the login screen */
.go-app-logo{
	background: url('images/groupoffice.gif');
	height:40px;
	background-repeat:no-repeat;
	margin-top: 10px;
	margin-bottom: 20px;
}

/* start ext overrides */

.ext-el-mask{z-index:8000;} /*set it lower for windows to be on top */

/* end ext overrides */


.summary-log-table{
	border:none;
}

.summary-error-font{
	color:red; 
	font-weight:bold;
}

.summary-success-font{
	color:green; 
	font-weight:bold;
}

.summary-log-name {
	width:50px;
	vertical-align:top;
}

.summary-log-message {
	padding-bottom: 5px;
	vertical-align:top;
}

#quick-add-menu-collapse {
	display:inline-block;
	cursor:pointer;
	float:left;
	margin:4px;
}

#quick-add-menu{
	position:absolute;
	border:none;
	background:none;
	padding:3px;
	top:-200px;
	width:auto;
	/*padding-right:20px;*/
	/*width:200px;*/
	/*display:none;*/
}

#quick-add-menu table{
	padding-left:3px;
}

.plus-sign{
/*	position:absolute;
	top:0;
	right:0;*/
        /*float:right;*/
	display:inline-block;
	width:16px;
	height:16px;
	background: url('images/16x16/gtk-add.png') no-repeat center center;
}

.minus-sign{
/*	position:absolute;
	top:0;
	right:0;*/
        /*float:right;*/
	display:inline-block;
	width:16px;
	height:16px;
	background: url('images/16x16/gtk-add.png') no-repeat center center;
}

.permissions-error .x-grid3-cell-inner{
	color:red;
}
