.go-module-icon-cms , .go-menu-icon-cms , .go-tab-icon-cms {
	background:url('images/cms.png');
}

.cms-btn-view{
	background:url('images/view.png') no-repeat !important;
}
.cms-btn-copy{
	background:url('images/copy.png') no-repeat !important;
}
.cms-btn-paste{
	background:url('images/paste.png') no-repeat !important;
}

.cms-btn-sites{
background:url('images/cms.png') no-repeat !important;
}
.cms-folder-disabled{
	background:url('images/folder_disabled.png') no-repeat !important;
}

.cms-folder-properties{
	background-image:url('images/folder.png') !important;
}

