/*
* This file contains all the Group-Office styles for elements
* That are used by the framework and one or more modules. Don't put
* module specific styles here. Put them in
* modules/<modulename>/themes/Default/style.css instead.
*/

.editorgrid-editablecell {
	background:url('images/16x16/celledit.png') no-repeat top right !important;
}

.x-grid3-row-selected .editorgrid-editablecell {
	background:url('images/16x16/celledit.png') no-repeat top right !important;
}

#beta {
    
    font-size: 9px;
    font-weight: bold;
    left: 119px;
    position: absolute;
    top: 27px;
}


#msg-div {
    position:absolute;    
    z-index:20000;
		width:800px;
}


.x-grid3-summary-row {
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    color:#333;
    background: #f1f2f4;
}
.x-grid3-summary-table{
	background: #f1f2f4;
}
.x-grid3-summary-row .x-grid3-cell-inner {
    font-weight:bold;
    padding-bottom:4px;
}
.x-grid-hide-summary .x-grid3-summary-row {
    display:none;
}
.x-grid3-summary-msg {
    padding:4px 16px;
    font-weight:bold;
}


.go-weekpicker{
	border:0 !important;
	background:none !important;
}

.go-colored-table .even{
	background-color:#f1f1f1 !important;
}

.x-date-weeknumber{
	width:10px;
}

.go-html-formatted, .go-html-formatted p, .go-html-formatted li, .go-html-formatted td{
	font: 12px Arial, Helvetica Sans-serif;
}

.go-html-formatted  blockquote {  
	display: block;  
  margin: 1em 40px;  
  padding:0px 10px;
}


.go-html-formatted h1 {  
  display: block;  
  font-size: 2em;  
  font-weight: bold;  
  margin: .67em 0;  
}  
   
.go-html-formatted h2 {  
  display: block;  
  font-size: 1.5em;  
  font-weight: bold;  
  margin: .83em 0;  
}  
   
.go-html-formatted h3 {  
  display: block;  
  font-size: 1.17em;  
  font-weight: bold;  
  margin: 1em 0;  
}  
   
.go-html-formatted h4 {  
  display: block;  
  font-weight: bold;  
  margin: 1.33em 0;  
}  
  
.go-html-formatted h5 {  
  display: block;  
  font-size: 0.83em;  
  font-weight: bold;  
  margin: 1.67em 0;  
}  
   
.go-html-formatted h6 {  
  display: block;  
  font-size: 0.67em;  
  font-weight: bold;  
  margin: 2.33em 0;  
}


.go-html-formatted td {   
   display: table-cell;  
/*   vertical-align: inherit;  
   text-align: inherit; */
 }  
   
.go-html-formatted th {  
   display: table-cell;  
   vertical-align: inherit;  
   font-weight: bold;  
   padding: 1px;  
 }

   
.go-html-formatted ul,.go-html-formatted  menu, .go-html-formatted dir {  
   display: block;  
   list-style-type: disc;  
   margin: 1em 2em;
   /*-moz-padding-start: 40px;  */
 }  
   
.go-html-formatted ol {  
   display: block;  
   list-style-type: decimal;  
   margin: 1em 2em;
   /*-moz-padding-start: 40px;  */
 }  
   
.go-html-formatted li {  
   display: list-item;  
 }
 
.go-html-formatted p {  
   margin:10px 0px;  
 }

.go-html-formatted a:link, .go-html-formatted a:visited, .go-html-formatted a:active{
	text-decoration:underline;
	color:#3764A0;
}
.go-html-formatted a:visted{
	color:purple;
}


.menu-title{
padding:10px 0px 3px 3px !important;
font-weight:bold;
background: #F0F0F0 !important;
border-bottom: 1px solid #9c9f9d;
display:block;
color:#15428B;
}

.go_logo{
	text-align:middle;
	vertical-align:middle;
	border:0px;
	padding:6px;	
}


#mainNorthPanel{
	font:normal 10px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;
}

#loading{
	position:absolute;
	left:40%;
	top:40%;
	border:1px solid #9c9f9d;
	padding:2px;
	background:#d1d8db;
	width:300px;
	text-align:center;
	z-index:20001;
}
#loading .loading-indicator{
	border:1px solid #c1d1d6;
	color:#666;
	background:white url('images/groupoffice.gif') 20px 10px no-repeat;
	font:bold 12px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;
	padding:60px 10px 10px 20px;
	margin:0;
	/*height:110px;*/
	text-align:left;
}
#loading .loading-indicator .loading-logo{
display:block;margin-bottom:15px;
}

.go-top-panel .x-panel-body{
	padding:3px;
	border:0px none;
 	background:#fff url(images/hd-sprite.gif) repeat-x 0px -92px;
  padding-top:3px;
 	padding-left:3px;
  color: #666 !important;
  font:regular 10px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;
  height:40px !important; /*overwrite inline style tags*/
}

.go-header-toolbar{
	background:transparant!important;
}
#headerLeft{
	float:left;
	background: url('images/go_logo.gif') 5px 6px no-repeat;
	height:40px;
	padding-left:160px;
	line-height:40px;
}
#headerRight{
	float:right;
	margin:12px;
}

.go-top-panel a:visited, .go-top-panel a:link, .go-top-panel a:active, .go-top-panel a:hover {
	color: #666 !important;
	margin:0 5px;
	text-decoration:none;
}
.go-top-panel .x-form-text {
	color: #666 !important;	
	background:#dedede !important;
	border:1px solid #dedede !important;
	padding-left:2px !important;	
	vertical-align:middle !important;
/*	height:15px !important;*/
}

#checker-loading{
	
}

#notification-area{
		
}

#admin-menu-link{
	/*display:none;*/
}




.go-wait .go-wait *, .go-wait div, .go-wait td, .go-wait button, .go-wait em {
	cursor: wait !important;
}

body{
	/*font:normal 10px "Lucida Sans Unicode","Lucida Grande","Mukti Narrow", sans-serif;*/
	font: 11px arial,helvetica,sans-serif;
	color:#000;
	background-color:#f1f1f1;
}

td{
	font: 11px tahoma,arial,helvetica,sans-serif;
}

table.about td{
	font-size:12px;
}

a.normal-link:active,a.normal-link:link,a.normal-link:visited{
	color:#26687C;
	text-decoration:underline;
}
a.normal-link:hover{
	text-decoration:none;
}

/* start filetypes */

.filetype-link {
	background-image:url('images/16x16/filetypes/unknown.png');
	padding-left:18px;
	padding-top:3px;
	padding-bottom:2px;
  	padding-right:5px;
	background-position: 0 2px;
	background-repeat: no-repeat;
	white-space:nowrap;
	line-height:20px;
}

.filetype {
	background-image:url('images/16x16/filetypes/unknown.png') !important;
	background-repeat: no-repeat;
}

.filetype-xmind {
	background-image:url('images/16x16/filetypes/xmind.png') !important;
}


.filetype-eml {
	background-image:url('images/16x16/filetypes/mail.png') !important;
}

.filetype-folder {
	background-image:url('images/16x16/filetypes/folder.png') !important;
	background-repeat: no-repeat;
	/*height:16px;
	width:16px;*/
}

.filetype-jpeg, .filetype-jpg, .filetype-gif, .filetype-bmp, .filetype-tif, .filetype-png, .filetype-tiff,.filetype-svg {
	background-image:url('images/16x16/filetypes/images.png') !important;
}

.filetype-pdf {
	background-image:url('images/16x16/filetypes/pdf.png') !important;
}

.filetype-asc, .filetype-gpg,.filetype-pgp{
	background-image:url('images/16x16/filetypes/gnupg.png') !important;
}

.filetype-docx,.filetype-doc, .filetype-sxw, .filetype-odt {
	background-image:url('images/16x16/filetypes/document.png') !important;
}

.filetype-zip, .filetype-tar, .filetype-gz, .filetype-tgz, .filetype-rar, .filetype-bz, .filetype-dat{
	background-image:url('images/16x16/filetypes/tar.png') !important;
}

.filetype-ics, .filetype-vcs {
	background-image:url('images/16x16/filetypes/vcalendar.png') !important;
}
.filetype-vcf {
	background-image:url('images/16x16/filetypes/vcard.png') !important;
}

.filetype-txt {
	background-image:url('images/16x16/filetypes/txt.png') !important;
}

.filetype-odp, .filetype-pps, .filetype-ppsx,.filetype-ppt, .filetype-pptx  {
	background-image:url('images/16x16/filetypes/pps.png') !important;
}

.filetype-html, .filetype-htm {
	background-image:url('images/16x16/filetypes/html.png') !important;
}

.filetype-ods, .filetype-xls, .filetype-xlsx  {
	background-image:url('images/16x16/filetypes/spreadsheet.png') !important;
}

.filetype-php  {
	background-image:url('images/16x16/filetypes/php.png') !important;
}
.filetype-js  {
	background-image:url('images/16x16/filetypes/source_j.png') !important;
}

.filetype-sql  {
	background-image:url('images/16x16/filetypes/database.png') !important;
}

/* end filetypes */



/* start buttons */

.btn-add {
	background-image:url('images/16x16/gtk-add.png') !important;
}

.btn-alert {
	background-image:url('images/16x16/alert.png') !important;
}

.btn-delete {
	background-image:url('images/16x16/gtk-delete.png') !important;
}

.btn-edit {
	background-image:url('images/16x16/edit.png') !important;
}

.btn-report-bug {
	background-image:url('images/16x16/bug.png') !important;
}

.btn-select-all {
	background-image:url('images/16x16/actions.png') !important;
}
.btn-search {
	background-image:url('images/16x16/search.png') !important;
}

.btn-view {
	background-image:url('images/16x16/search.png') !important;
}

.btn-help {
	background-image:url('images/16x16/icon-help.png') !important;
}



.btn-ok {
	background-image:url('images/16x16/ok.png') !important;
}

.btn-settings {
	/*background-image:url('images/16x16/administration.png') !important;*/
	background-image:url('images/16x16/gtk-settings.png') !important;
}

.btn-export {
	background-image:url('images/16x16/export.png') !important;
}

.btn-logout {
	background-image:url('images/16x16/gnome-logout.png') !important;
}

.btn-download{
	background-image:url('images/16x16/download.png') !important;
}


.btn-dismiss{
	background-image:url('images/16x16/clock.png') !important;
}

.btn-close {
	background-image:url('images/16x16/gtk-delete.png') !important;
}


.btn-save {
	background-image:url('images/16x16/gtk-save.png') !important;
}

.btn-permissions {
	background-image:url('images/16x16/permissions.png') !important;
}

.btn-actions {
	background-image:url('images/16x16/actions.png') !important;
}

.btn-extra {
	background-image:url('images/16x16/actions.png') !important;
}

.btn-users {
	background-image:url('images/16x16/forum.png') !important;
}

.btn-print{
	background-image:url('images/16x16/print.png') !important;
}

.btn-link {
	background-image:url('images/16x16/connect_established.png') !important;
}

.btn-unlink {
	background-image:url('images/16x16/stock-disconnect.png') !important;
}

.btn-search-addressbook {
	background-image:url('images/16x16/search_addressbook.png') !important;
}

.btn-refresh {
	background-image:url('images/16x16/reload.png') !important;	
}

.go-display-panel .btn-refresh, .go-display-panel .btn-print{
	width: 14px !important;
	overflow: hidden;
	text-indent: 100px;
}

.btn-left-arrow {
	background-image:url('images/16x16/left-btn.png') !important;
}

.btn-right-arrow {
	background-image:url('images/16x16/right-btn.png') !important;
}

.btn-info{
	background-image:url('images/16x16/info.png') !important;
}

.btn-upload{
	background-image:url('images/16x16/upload.png') !important;
}

.btn-forum {
	background-image:url('images/16x16/forum.png') !important;
}

.btn-support {
	background-image:url('images/16x16/support.png') !important;
}

.btn-email {
	background-image:url('images/16x16/email.png') !important;
}

.btn-folder{
	background-image:url('images/16x16/folder.png') !important;
}

.btn-computer {
	background-image:url('images/16x16/computer.png') !important;
}
.btn-groupoffice {
	background-image:url('images/favicon.gif') !important;
}


.btn-lock {
	background-image:url('images/16x16/lock.png') !important;
}
.btn-unlock {
	background-image:url('images/16x16/unlock.png') !important;
}

.go-upload-pc-form{
	top:8px !important;
	left:7px !important;
}
/* end buttons */

/*start edit buttons */


.x-html-editor-tb .go-edit-insertimage .x-btn-text{
	background:transparent url('images/16x16/filetypes/images.png') no-repeat !important;
}

.x-html-editor-tb .go-edit-insertlink .x-btn-text{
	background:transparent url('images/16x16/link.png') no-repeat !important;
}

.x-html-editor-tb .go-edit-selectVariable .x-btn-text {
	background:transparent url('images/16x16/filetypes/images.png') no-repeat !important;
}

.go-icon {
	width:16px !important;
	height:16px !important;
	background-repeat: no-repeat;
}

.go-icon-reminders{
	background: url('images/16x16/reminders.png');
}

.go-grid-icon{
	background-repeat:no-repeat;
	padding-left:20px !important;
	line-height:16px;
	display:block;
	height:auto !important;
	text-decoration:none !important;
}

.go-inline-icon{
	float:left;
	background-repeat:no-repeat;
	margin:0px 2px;
}

/*
.go-sub-table{
	border:0px;
	border-collapse: collapse;
}
.go-sub-table td {
	margin:0px;
	padding:0px;
	padding-right:4px;
}


.go-inner-tab{
	padding:5px;
}*/

/* Group-Office icon displayed in the top bar */
.go-app-icon{
	/*background: url('images/16x16/go-icon.png');*/	
}


.go-important-icon{
	background: url('images/16x16/important.png') no-repeat !important;
	height:16px;
	padding-left:20px;
	line-height:16px;
}

/* Search icon displayed in top bar */
.go-search-icon{
	background-image: url('images/16x16/icon-search.png') !important;
}

.go-search-icon-tab{
	background-image: none;;
}

/* Group-Office logo displayed in the login screen 
and about screen. Please leave the about screen logo original!
*/
.go-app-logo, .go-about-logo{
	background: url('images/groupoffice.gif');
	width:200px;
	height:40px;
	background-repeat:no-repeat;
	margin-top: 10px;
	margin-bottom: 20px;
}
.go-login-captcha
{
    margin-left:125px;
}
.go-login-captcha-link
{
    cursor: pointer;
}

/* start ext overrides */

/* align of image with text in a button */
.x-btn-text-icon .x-btn-center .x-btn-text{
	background-position:0 2px;
	background-repeat:no-repeat;
	padding-left:18px;
	padding-top:2px;
	padding-bottom:3px;
	padding-right:0;
}

/* font were inconsistent in Ext. No problem on Windows but in Linux it was because Tahoma doesn't exists. */
.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
	font-family:tahoma,arial,helvetica,sans-serif;
	/*color:#e4eff4;*/
}


/*.Otherwise checkboxes were scrolling*/
.ext-gecko .x-window-body .x-form-item{
overflow:hidden !important;	
}


/* end ext overrides */





/* start file upload  */

.x-uf-buttons-ct {
	position:relative;
	height: 22px;
	margin-bottom: 5px;
}
.x-uf-input-ct {
	position:absolute;
	height: 22px;
	overflow:hidden;
}
.x-uf-ubtn-ct {
	margin-left:78px;
	float:left;
}
.x-uf-cbtn-ct {
	margin-left:4px;
	float:left;
}
.x-uf-bbtn-ct {
	float:left;
	height: 22px;
}
.x-uf-input-wrap {
	position: absolute;
	opacity: 0.0;
	-moz-opacity: 0.0;
	filter: alpha(opacity=0);	
	right:0;
	height: 22px;
}
.x-uf-input-wrap input {
	top: 0;
	height: 22px;
	font-size: 14px;
	cursor: pointer;
	-moz-user-focus: ignore;
	border: 0px none transparent;

	overflow: hidden;
}
.x-uf-input-mask {
	position:absolute;
	height: 22px;
	width: 24px;
	left: -18px;
}
.x-uf-table {
	width:100%;
	font-size: 11px;
	border-collapse: collapse;
	margin-top: 2px;
}

.x-uf-filedelete {
	width: 16px;
	text-align: right;
	padding-right: 2px;
}


.go-error-dialog .x-panel-body{
	background:url('images/32x32/error.png') no-repeat 10px 10px;
	padding:18px 5px 18px 52px;	
}


/* sets the padding for panels with forms or text in it */
.go-form-panel .x-panel-body{
	padding: 5px;
}

.go-form-text-panel .x-panel-body {
	padding:0px;	
	margin:0px;
	margin-bottom:10px;
	font:normal 12px tahoma,arial,helvetica,sans-serif;
}

.go-form-text{
	font:normal 12px tahoma,arial,helvetica,sans-serif;
	margin:10px 0 10px 0;
}

.go-links-panel-description {
	padding-left:25px;
}


/* end file upload */


/* form field that is read only and only shows a value */
.x-form-plainfield {
	/*height: 22px;*/
	line-height: 18px;
	vertical-align: middle;
	overflow: hidden;
}

hr{
	border:0;
	color:#cccccc;
	background-color:#cccccc;
	margin:10px 0 10px 0;
	height:2px;
		
}


/* end of file */


/* Data view where you can select a single item */

.go-select-list {
	font:normal 11px tahoma,arial,helvetica,sans-serif;
	padding:2px;
	position:relative;
	/*background-color:white;*/
	/*border-bottom:1px solid #c3daf9;*/
}

.go-select-list div{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	margin-bottom:2px;
	text-decoration:none;
	line-height:18px;
	cursor: default;
}

.go-select-list .go-item-wrap{
	border:1px solid white;
	display:block;
	-moz-outline:none;
	padding: 3px;
	cursor: default;
}

.go-select-list .go-view-over{
    background-color:#ebf1e2;
    border:1px solid #ebf1e2;
}

.go-select-list .go-view-selected{
	background-color:#ebf1e2;
 	border:1px solid #669900;
	padding: 4px;
	
}

/* end dataview */

table.display-panel{
	width:100%;
	border-collapse:collapse;
}

table.display-panel td{
	padding:3px;
	vertical-align:top;
}

table.display-panel a:link,
table.display-panel a:visited,
table.display-panel a:active	
{
	color: #26687C;
	text-decoration: none;
}

.display-panel-heading, .collapsible-display-panel-header
{
	/*width: 100%;*/
	height:16px;
	line-height: 16px;
	font-size: 11px;
	font-weight: bold;
	letter-spacing:0.5px;
	color:#333333;
	background-color: #ebebeb;
	border-top:1px solid #acbbc0;
}
.collapsible-display-panel-header{
	padding:2px;
}

.collapsible-display-panel-subheader {
	border:1px solid #acbbc0;
	
	background-color: #eff3f4;
	margin: 2px;
}

.display-subpanel{
	border:none;
	width:100%;
/*	margin: 2px;*/
}

.display-subpanel td{
	margin:0px !important;
	border:none;
}

.display-subpanel-header{
	background-color: #eff3f4;
/*	width:100%;	*/
	border:none;
	padding: 3px !important;
}

.display-panel-heading-collapsed{
	line-height: 16px;
	font-size: 11px;
	font-weight: normal;
	color:#333333;
	background-color: #f1f1f1;
	border-top:1px solid #acbbc0;
	padding:2px;
}

.display-panel-links-header, .display-panel-description{
	background-color: #f1f1f1;
}

.display-panel-link td{
	padding:3px 3px 1px !important;
}


.display-panel-link-description td{
	padding:0px 3px 3px !important;
	vertical-align: top;
}

.display-panel-link-icon{
	background-repeat: no-repeat;	
	width:16px !important;
	height:16px !important;
	padding:0 1px 0 0;
}

.display-panel-has-links{
	width:9px;
	height:16px;
	padding:0px;
	margin:0px;
}

.display-panel-link-even{
	background-color: #fcfcfc;
}

.display-panel-browse{
	margin-top:5px;float:left;
	margin-right:10px;
}

.has-links{
	background:url(images/links.png) no-repeat;
}
/* Ext grid addons */

.go-grid3-hide-headers .x-grid3-header {
    display:none;
}

.go-grid-row-inactive {
  color: #aaa;
}

/* End Ext grid addons */

/*.x-tab-strip-top{
	background:url(imag):
}*/




/* file upload field */

/*
 * Ext JS Library 2.2
 * Copyright(c) 2006-2008, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}


.go-warning-msg{
	background:url('images/16x16/important.png') no-repeat;
	padding-left:20px;
	line-height:16px;
	vertical-align:middle;
}


.x-form-field-wrap .x-form-edit-trigger{
    background-image: url(images/triggers/edit-trigger-gray.gif);
    cursor:pointer;
}

.x-grid3-body .x-grid3-radio-col-td .x-grid3-cell-inner {
	padding: 1px 0 0 0!important;
}
.x-grid3-radio-col {
	width: 100%;
	height: 16px;
	background: transparent url(images/buttons/radiooff.gif) no-repeat center center;
}
.x-grid3-radio-col-on {
	width: 100%;
	height: 16px;
	background: transparent url(images/buttons/radioon.gif) no-repeat center center;
}

.go-icon-ok .x-grid3-cell-inner{
	background: url('images/16x16/ok.png') no-repeat !important;
	padding-left:22px !important;
}

.go-icon-cross .x-grid3-cell-inner{
	background: url('images/16x16/cross.png') no-repeat !important;
	padding-left:22px !important;
}

.go-icon-unknown .x-grid3-cell-inner{
	background: url('images/16x16/unknown.png') no-repeat !important;
	padding-left:22px !important;
}

.go-icon-empty .x-grid3-cell-inner{
	background: none !important;
	padding-left:22px !important;
}
.go-icon-warning .x-grid3-cell-inner{
	background: url('images/16x16/important.png') no-repeat !important;
	padding-left:22px !important;
}

.go-icon-exclamation .x-grid3-cell-inner{
	background: url('images/16x16/exclamation.png') no-repeat !important;
	padding-left:22px !important;
}
.go-icon-print .x-grid3-cell-inner{
	background: url('images/16x16/print.png') no-repeat !important;
	padding-left:22px !important;
}

/*IE somtimes clipped first form field somehow*/
.x-fieldset-body{
	padding-top:1px;
}



.x-spell-checker {
	font-size:12px;
}

.x-spell-checker span.spelling {
	background:url(images/spellerror.gif) repeat-x left bottom;
	position:relative;
	cursor:pointer;
}

.x-spell-checker span.spelling ul {
	display:none;
}

.go-edit-spellcheck .x-btn-text{
	background: url('images/16x16/spellcheck.png') no-repeat !important;
}


/* styles for rows */
.ux-row-action-cell .x-grid3-cell-inner {
	padding:1px 0 0 0;
}
.ux-row-action-item {
	float:left;
	min-width:16px;
	height:16px;
	background-repeat:no-repeat;
	margin: 0 3px 0 2px;
/*	margin: 1px 5px 0 2px; */
	cursor:pointer;
	overflow:hidden;
}
.ext-ie .ux-row-action-item {
	width:16px;
}
.ext-ie .ux-row-action-text {
	width:auto;
}
.ux-row-action-item span {
	vertical-align:middle;
	padding:0 0 0 20px;
	line-height:18px;
}
.ext-ie .ux-row-action-item span {
	width:auto;
}

/* styles for groups */
/*.x-grid-group-hd div {
	position:relative;
	height:16px;
}*/
.ux-grow-action-item {
	min-width:16px;
	height:16px;
	background-repeat:no-repeat;
	background-position: 0 50% ! important;
	margin: 0 0 0 4px;
	padding: 0 ! important;
	cursor:pointer;
	float:left;
}
.ext-ie .ux-grow-action-item {
	width:16px;
}
.ux-action-right {
	float:right;
	margin: 0 3px 0 2px;
	padding: 0 ! important;
}
.ux-grow-action-text {
	padding: 0 ! important;
	margin:0 ! important;
	background:transparent none ! important;
	float:left;
}
/* javascript/plugins/Ext.ux.HtmlEditor */

/*
	These are examples of styles for the button icons
*/
.x-edit-wordpaste {background: url(images/16x16/page_word.png) 0 0 no-repeat !important;}
.x-edit-table {background: url(images/16x16/table_add.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(images/16x16/text_horizontalrule.png) 0 0 no-repeat !important;}
.x-edit-indent {background: url(images/16x16/text_indent.png) 0 0 no-repeat !important;}
.x-edit-char {background: url(images/edit-char.png) 0 0 no-repeat !important;}
.x-edit-outdent {background: url(images/16x16/text_indent_remove.png) 0 0 no-repeat !important;}
.x-edit-subscript {background: url(images/16x16/text_subscript.png) 0 0 no-repeat !important;}
.x-edit-superscript {background: url(images/16x16/text_superscript.png) 0 0 no-repeat !important;}
.x-edit-removeFormat {background: url(images/16x16/exclamation.png) 0 0 no-repeat !important;}


/*
	These styles are used for the character map
*/
.char-item {
	float: left;
	border: 1px solid #99BBE8;
	margin: 3px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	font-size: 14px;
	color: #15428B;
	cursor: pointer;
}

.char-item.x-view-selected {
	background-color: #777;
}

.char-over {
	border: 1px solid #15428B;
	background-color:#d0def0;
}

/* MaximGB TreeGrid CSS */

.ux-maximgb-tg-panel .x-grid3-scroller
{
    /*overflow: scroll !important;*/
}

div.ux-maximgb-tg-mastercell-wrap
{
    border: 0px none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.ux-maximgb-tg-uiwrap
{
	float: left;
	position: relative;
	height: 18px;
	white-space: nowrap;
	overflow: hidden;
}

.ux-maximgb-tg-elbow-empty
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
}

.ux-maximgb-tg-elbow-line
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow-line.gif) repeat-x;
}

.ux-maximgb-tg-elbow
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow.gif) no-repeat;
}

.ux-maximgb-tg-elbow-end
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow-end.gif) no-repeat;
}

.ux-maximgb-tg-elbow-active
{
	cursor: pointer;
}

.ux-maximgb-tg-elbow-minus
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow-minus.gif) no-repeat;
}

.ux-maximgb-tg-elbow-end-minus
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow-end-minus.gif) no-repeat;
}

.ux-maximgb-tg-nl-minus
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow-minus-nl.gif) no-repeat;
}

.ux-maximgb-tg-elbow-plus
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow-plus.gif) no-repeat;
}

.ux-maximgb-tg-elbow-end-plus
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow-end-plus.gif) no-repeat;
}

.ux-maximgb-tg-nl-plus
{
	position: absolute;
	height: 18px;
	width: 16px;
	overflow: hidden;
	background: url(images/elbow-plus-nl.gif) no-repeat;
}

.ux-maximgb-treegrid-level-0
{
}

.ux-maximgb-tg-level-1
{
	background-color: #DFE7FF;
}

.ux-maximgb-tg-level-2
{
	background-color: #BFCFFF;
}

.ux-maximgb-tg-level-3
{
	background-color: #9FB7FF;
}

.ux-maximgb-tg-level-4
{
	background-color: #809FFF;
}

.ux-maximgb-tg-level-5
{
	background-color: #6087FF;
}

.ux-maximgb-tg-level-6
{
	background-color: #4070FF;
}

.ux-maximgb-tg-level-7
{
	background-color: #2058FF;
}

.ux-maximgb-tg-level-8
{
	background-color:	#0040FF;
}

/*!
 * Ext JS Library 3.1.1
 * Copyright(c) 2006-2010 Ext JS, LLC
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
.x-grouptabs-panel {
    background-color: #2E80AA;
    border: solid 15px #2E80AA;
}
.x-tab-panel-left .x-grouptabs-panel-header,
.x-tab-panel-right .x-grouptabs-panel-header {
    float: left;
    border: 0;
    background: transparent;
}
.x-tab-panel-right .x-grouptabs-panel-header {
    float:right;
}
.x-tab-panel-left .x-grouptabs-bwrap {
    float: right;
    position: relative;
}
.x-tab-panel-right .x-grouptabs-bwrap {
    float: left;
    position: relative;
}
.x-tab-panel-left ul.x-grouptabs-strip,
.x-tab-panel-right ul.x-grouptabs-strip {
    width: auto;
	display: block;
}
.x-tab-panel-left ul.x-grouptabs-strip li,
.x-tab-panel-right ul.x-grouptabs-strip li {
    padding: 6px 0 2px 6px;
    float: none;
    margin: 0;
    position: relative;
    clear: both;
}
.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text,
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text{
	font-size: 13px;
	line-height: 18px;
	cursor: pointer;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text{
    padding-left: 18px;
}
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text{
    padding-right: 18px;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text,
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text{
	font-size: 12px;
    padding: 0;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text{
	margin-left: 4px;
}
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text{
	margin-right: 4px;
}

.x-grouptabs-panel .x-grouptabs-strip a.x-grouptabs-text{
    overflow: hidden;
    white-space: nowrap;
	display: block;
    color: #DFE8F6;
    font-family: tahoma, arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.x-tab-panel-right .x-grouptabs-strip a.x-grouptabs-text {
    text-align: right;
}

.x-grouptabs-panel .x-grouptabs-strip-active a.x-grouptabs-text {
    color: #395B8E;
}

.x-grouptabs-panel ul.x-grouptabs-sub a.x-grouptabs-text {
	font-weight: normal;
}
.x-tab-joint {
    position: absolute;
    width: 3px;
    top: 1px;
    background: #fff;
    z-index: 9999;
}

.x-grouptabs-panel .x-grouptabs-panel-body {
    border: 1px solid #999;
}

.x-grouptabs-panel ul.x-grouptabs-strip li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.x-grouptabs-panel ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    border: 0;
    background: #fff;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.x-tab-panel-left ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    border-left: 1px solid #999;
}
.x-tab-panel-right ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    border-right: 1px solid #999;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub li.x-grouptabs-strip-active{
    background-color: #EDEEF0;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub {
    background-color: transparent;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub li {
    border-color: transparent;
}

/* Tab corners */
.x-grouptabs-panel .x-grouptabs-corner {
    background-image: url('images/x-grouptabs-corners.gif');
    display: none;
    width: 11px;
    height: 11px;
    position: absolute;
    font-size: 1px;
    line-height: 6px;
    overflow: hidden;
    zoom:1;
}
.x-grouptabs-panel .x-grouptabs-strip-active .x-grouptabs-corner {
    display: block;
}
.x-grouptabs-panel .x-grouptabs-main.x-grouptabs-strip-active ul.x-grouptabs-sub .x-grouptabs-corner {
	display: none;
}

.x-grouptabs-panel .x-grouptabs-corner-top-left {
    background-position: top left;
    left: 0; top: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-bottom-left {
    background-position: bottom left;
    left: 0; bottom: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-top-right {
    background-position: top right;
    right: 0; top: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-bottom-right {
    background-position: bottom right;
    right: 0; bottom: 0;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-bottom-left{
    bottom: -4px; left: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-bottom-right{
    bottom: -4px; right: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-top-left{
    top: -4px; left: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-top-right{
    top: -4px; right: -4px;
}

.x-grouptabs-panel ul.x-grouptabs-sub li.x-tab-with-icon a.x-grouptabs-text {
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* General tab styling */
.x-grouptabs-panel .x-grouptabs-expand {
	background: transparent url('images/elbow-plus-nl.gif') no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 7px;
	top: 6px;
}

.ext-ie6 .x-grouptabs-panel .x-grouptabs-expand,
.ext-border-box .x-grouptabs-panel .x-grouptabs-expand {
	left: 0;
}

.x-grouptabs-expanded .x-grouptabs-expand {
	background-image: url('images/elbow-minus-nl.gif');
}

/* GroupTabs sub group styling */
.x-grouptabs-sub {
	display: none;
	margin-top: 4px;
}

.x-grouptabs-expanded .x-grouptabs-sub {
	display: block;
}

.x-grouptabs-panel ul.x-grouptabs-sub li {
	height: 18px;
	margin: 0 0 2px;
    padding: 0;
}

.x-grouptabs-panel ul.x-grouptabs-sub .x-grouptabs-main-item {
	display: none;
}

.x-tab-with-icon{
   border-style:none !important;
}

/* GroupTab */

/*!
 * Ext JS Library 3.1.1
 * Copyright(c) 2006-2010 Ext JS, LLC
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
.x-grouptabs-panel {
    background-color: #2E80AA;
    border: solid 15px #2E80AA;
}
.x-tab-panel-left .x-grouptabs-panel-header,
.x-tab-panel-right .x-grouptabs-panel-header {
    float: left;
    border: 0;
    background: transparent;
}
.x-tab-panel-right .x-grouptabs-panel-header {
    float:right;
}
.x-tab-panel-left .x-grouptabs-bwrap {
    float: right;
    position: relative;
}
.x-tab-panel-right .x-grouptabs-bwrap {
    float: left;
    position: relative;
}
.x-tab-panel-left ul.x-grouptabs-strip,
.x-tab-panel-right ul.x-grouptabs-strip {
    width: auto;
	display: block;
}
.x-tab-panel-left ul.x-grouptabs-strip li,
.x-tab-panel-right ul.x-grouptabs-strip li {
    padding: 6px 0 2px 6px;
    float: none;
    margin: 0;
    position: relative;
    clear: both;
}
.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text,
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text{
	font-size: 13px;
	line-height: 18px;
	cursor: pointer;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text{
    padding-left: 18px;
}
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-strip a.x-grouptabs-text{
    padding-right: 18px;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text,
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text{
	font-size: 12px;
    padding: 0;
}

.x-tab-panel-left .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text{
	margin-left: 4px;
}
.x-tab-panel-right .x-tab-panel-header ul.x-grouptabs-sub a.x-grouptabs-text{
	margin-right: 4px;
}

.x-grouptabs-panel .x-grouptabs-strip a.x-grouptabs-text{
    overflow: hidden;
    white-space: nowrap;
	display: block;
    color: #DFE8F6;
    font-family: tahoma, arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.x-tab-panel-right .x-grouptabs-strip a.x-grouptabs-text {
    text-align: right;
}

.x-grouptabs-panel .x-grouptabs-strip-active a.x-grouptabs-text {
    color: #395B8E;
}

.x-grouptabs-panel ul.x-grouptabs-sub a.x-grouptabs-text {
	font-weight: normal;
}
.x-tab-joint {
    position: absolute;
    width: 3px;
    top: 1px;
    background: #fff;
    z-index: 9999;
}

.x-grouptabs-panel .x-grouptabs-panel-body {
    border: 1px solid #999;
}

.x-grouptabs-panel ul.x-grouptabs-strip li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
}

.x-grouptabs-panel ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    border: 0;
    background: #fff;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.x-tab-panel-left ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    border-left: 1px solid #999;
}
.x-tab-panel-right ul.x-grouptabs-strip li.x-grouptabs-strip-active {
    border-right: 1px solid #999;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub li.x-grouptabs-strip-active{
    background-color: #EDEEF0;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub {
    background-color: transparent;
}

.x-grouptabs-panel li.x-grouptabs-strip-active ul.x-grouptabs-sub li {
    border-color: transparent;
}

/* Tab corners */
.x-grouptabs-panel .x-grouptabs-corner {
    background-image: url('images/x-grouptabs-corners.gif');
    display: none;
    width: 11px;
    height: 11px;
    position: absolute;
    font-size: 1px;
    line-height: 6px;
    overflow: hidden;
    zoom:1;
}
.x-grouptabs-panel .x-grouptabs-strip-active .x-grouptabs-corner {
    display: block;
}
.x-grouptabs-panel .x-grouptabs-main.x-grouptabs-strip-active ul.x-grouptabs-sub .x-grouptabs-corner {
	display: none;
}

.x-grouptabs-panel .x-grouptabs-corner-top-left {
    background-position: top left;
    left: 0; top: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-bottom-left {
    background-position: bottom left;
    left: 0; bottom: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-top-right {
    background-position: top right;
    right: 0; top: 0;
}
.x-grouptabs-panel .x-grouptabs-corner-bottom-right {
    background-position: bottom right;
    right: 0; bottom: 0;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-bottom-left{
    bottom: -4px; left: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-bottom-right{
    bottom: -4px; right: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-top-left{
    top: -4px; left: -4px;
}
.x-grouptabs-panel li.x-grouptabs-strip-active .x-grouptabs-corner-top-right{
    top: -4px; right: -4px;
}

.x-grouptabs-panel ul.x-grouptabs-sub li.x-tab-with-icon a.x-grouptabs-text {
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* General tab styling */
.x-grouptabs-panel .x-grouptabs-expand {
	background: transparent url('images/elbow-plus-nl.gif') no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 7px;
	top: 6px;
}

.ext-ie6 .x-grouptabs-panel .x-grouptabs-expand,
.ext-border-box .x-grouptabs-panel .x-grouptabs-expand {
	left: 0;
}

.x-grouptabs-expanded .x-grouptabs-expand {
	background-image: url('images/elbow-minus-nl.gif');
}

/* GroupTabs sub group styling */
.x-grouptabs-sub {
	display: none;
	margin-top: 4px;
}

.x-grouptabs-expanded .x-grouptabs-sub {
	display: block;
}

.x-grouptabs-panel ul.x-grouptabs-sub li {
	height: 18px;
	margin: 0 0 2px;
    padding: 0;
}

.x-grouptabs-panel ul.x-grouptabs-sub .x-grouptabs-main-item {
	display: none;
}

.x-tab-with-icon{
   border-style:none !important;
}

/* checkbox labels don't wrap */
.x-form-check-group .x-form-check-wrap, .x-form-radio-group .x-form-radio-wrap{
	height: auto !important;
}

/* shipping module fully packed row */

.fully-packed {
	background-color : #CCFFCC;
}



/* eof */




.x-superboxselect {position:relative; height: auto !important; margin: 0px; overflow: hidden; padding:2px; display:block; outline: none !important;}
.x-superboxselect input[disabled] {background-color: transparent;};
.x-superboxselect ul {overflow: hidden; cursor: text;}
.x-superboxselect-display-btns {padding-right: 33px !important;}
.x-superboxselect-btns {position: absolute; right: 1px; top: 0; overflow:hidden; padding:2px;}
.x-superboxselect-btns div {float: left; width: 16px; height: 16px; margin-top: 4px;}
.x-superboxselect-btn-clear {background: url(images/superboxselect/clear.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-expand {background: url(images/superboxselect/expand.png) no-repeat scroll left 0px;}
.x-superboxselect-btn-over {background-position: left -16px}
.x-superboxselect-btn-hide {display:none;}
.x-superboxselect li {float: left; margin: 1px 1px 2px 1px; padding: 0;line-height: 18px;}
.x-superboxselect-stacked li {float: none !important;}
.x-superboxselect-input input { border: none; outline: none; margin-top: 4px; margin-bottom: 4px;}
body.ext-ie .x-superboxselect-input input {background: none; border: none; margin-top: 3px;}
.x-superboxselect-item {position: relative; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; o-border-radius: 6px; khtml-border-radius: 6px; border: 1px solid #CAD8F3; background-color: #DEE7F8; padding: 0px 15px 0px 5px !important; }
body.ext-ie7 .x-superboxselect-item {margin: 2px 1px 2px 1px; line-height: 1.2em; padding: 2px 17px 4px 5px !important;}
body.ext-ie6 .x-superboxselect-item {margin: 2px 1px 2px 1px; line-height: 1.2em; padding: 2px 19px 4px 5px !important;}
.x-superboxselect-item-hover {background: #BBCEF1; border: 1px solid #6D95E0;}
.x-superboxselect-item-focus {border-color: #598BEC; background: #598BEC; color: #fff;}
.x-superboxselect-item-close {background: url(images/superboxselect/close.png) no-repeat scroll left 0px; border: none; cursor: default; font-size: 1px; height: 16px;padding:0; position: absolute; right: 0px; top: 2px; width: 13px;display:block;cursor:pointer;}

.x-superboxselect-item-close:hover, .x-superboxselect-item-close:active  { background-position: left -12px;}
.x-superboxselect-item-focus .x-superboxselect-item-close{ background-position: left -24px}
.x-item-disabled .x-superboxselect-item-close{ background-position: left -36px}


.x-form-helptext {
    font-size: 9px;
    color: #888;
}

.go-tool-toggle-collapsed{
	background-position: 0 -75px;
}

.x-panel-header-text{
	white-space:nowrap;
}





.SwfUploadPanel_iconAdd {
	background-image:url(images/swfupload/add.png) !important;
}

.SwfUploadPanel_iconUpload {
	background-image:url(images/swfupload/arrow_up.png) !important;
}

.SwfUploadPanel_iconCancel {
	background-image:url(images/swfupload/delete.png) !important;
}

.SwfUploadPanel_iconDelete {
	background-image:url(images/swfupload/delete.png) !important;
}







.x-plupload-body {
    overflow-x: hidden;
    overflow-y: auto;
}

.x-plupload-body dl {
    padding: 5px;     
    border-bottom: 1px solid #D0D0D0;
    font: normal 11px arial,tahoma,verdana,helvetica;
    width: 100%;
}

.x-plupload-body dt {
    float: left;
    cursor: pointer;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.plupload_over {
    background-color: #EFF5FB;
}

.plupload_selected {
    background-color: #EFF5FB;
}

.plupload_emptytext {
    font: 11px Arial,Helvetica,sans-serif; 
    vertical-align: middle; 
    text-align: center;
}

.plupload_emptytext span {
    line-height: 100px;
}


/* VrTabPanel CSS for Blue theme */

/* Left Panel background */
.x-tot2ivn-vr-tab-panel {		
	/* background: #BFCED2;	*/
	background: url("images/extjs/toolbar/bg.gif") repeat-x scroll left top #EBF0F2 !important;
	border-color: #99BBE8 !important;
}

/* Left Panel */
.x-tot2ivn-vr-tab-panel-header {
	float: left;	
}

.x-tot2ivn-vr-tab-panel .x-tot2ivn-vr-tab-strip-spacer { visibility: hidden; }
.x-tot2ivn-vr-tab-panel ul.x-tot2ivn-vr-tab-strip-top { border-bottom: 0; }

.x-tot2ivn-vr-tab-strip-wrap{
/*	border-bottom: 1px solid #aac3e5;*/
}

/* Right Body Panel */
.x-tot2ivn-vr-tab-panel-bwrap {
/*	border-left: 1px solid #99BBE8;*/
	float: right;
	background: #fff;	
}

/* Menu Items */
.x-tot2ivn-vr-tab-panel li.x-tot2ivn-vr-tab-strip-title {
	display: inline-block;
	float: left;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;		
}

.x-tab-strip span.x-tot2ivn-vr-tab-strip-text,
/* Active Items. Adjust tab padding in here !! */
.x-tab-strip-active .x-tab-right span.x-tot2ivn-vr-tab-strip-text{
	padding-top: 7px !important;
	padding-bottom: 7px !important;	
}


.x-tot2ivn-vr-tab-panel-body .x-panel-body{
	border-left: 1px #C0C0C0 solid !important;
}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top {padding-top:0px !important;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-right{background: none;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-left{background: none;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-strip-inner{background: none;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tot2ivn-vr-tab-strip-title {margin:0px!important; background:#666666; border-top:1px solid #D1D1D1; color:#D1D1D1;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tot2ivn-vr-tab-strip-title span.x-tab-strip-text {color:#D1D1D1;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-strip-active {background: url("images/extjs/toolbar/bg.gif") repeat-x scroll left top #EBF0F2 !important;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-strip-active span.x-tab-strip-text {color:#fff;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-strip-over span.x-tab-strip-text {color:#fff;}
/*.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-right{background:transparent url(images/extjs/tabs/tabs-sprite.gif) no-repeat 0 -51px;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-left{background:transparent url(images/extjs/tabs/tabs-sprite.gif) no-repeat right -351px;}
.x-tot2ivn-vr-tab-panel .x-tab-strip-top .x-tab-strip-inner{background:transparent url(images/extjs/tabs/tabs-sprite.gif) repeat-x 0 -201px;}*/




.x-form-trigger-plus{
	background-image:url(images/trigger-plus.gif) !important;
}


.summary-log-table{
	border:none;
}

.summary-error-font{
	color:red; 
	font-weight:bold;
}

.summary-success-font{
	color:green; 
	font-weight:bold;
}

.summary-log-name {
	width:50px;
	vertical-align:top;
}

.summary-log-message {
	padding-bottom: 5px;
	vertical-align:top;
}



/*!
 * Ext JS Library 3.4.0
 * Copyright(c) 2006-2011 Sencha Inc.
 * licensing@sencha.com
 * http://www.sencha.com/license
 */
.ext-ie .x-row-editor .x-form-text {
    margin:0 !important; 
}
.x-row-editor-header {
    height:2px;
    overflow:hidden;
    background: transparent url(images/row-editor-bg.gif) repeat-x 0 0;
}
.x-row-editor-footer {
    height:2px;
    overflow:hidden;
    background: transparent url(images/row-editor-bg.gif) repeat-x 0 -2px;
}
.ext-ie .x-row-editor-footer {
    margin-top:-1px;
}

.x-row-editor-body {
    overflow:hidden;
    zoom:1;
    background: #ebf2fb;
    padding-top:2px;
}
.x-row-editor .x-btns {
    position:absolute;
    top:28px;
    left:20px;
    padding-left:5px;
    background: transparent url(images/row-editor-btns.gif) no-repeat 0 0;
}
.x-row-editor .x-btns .x-plain-bwrap {
    padding-right:5px;
    background: transparent url(images/row-editor-btns.gif) no-repeat right -31px;
}
.x-row-editor .x-btns .x-plain-body {
    background: transparent url(images/row-editor-btns.gif) repeat-x 0 -62px;
    height:31px;
}
.x-row-editor .x-btns .x-table-layout-cell {
    padding:3px;
}

/* Fixes for IE6/7 trigger fields */
.ext-ie6 .x-row-editor .x-form-field-wrap .x-form-trigger, .ext-ie7 .x-row-editor .x-form-field-wrap .x-form-trigger {
  top: 1px;
}

.ext-ie6 .x-row-editor .x-form-field-trigger-wrap, .ext-ie7 .x-row-editor .x-form-field-trigger-wrap {
  margin-top: -1px;
}

.errorTip .x-tip-body ul{
    list-style-type:disc;
    margin-left:15px;
}


/*.go-editable-col{
	background-image:url(images/editable.gif);
	background-repeat: no-repeat;
}*/


/* chrome grid bug (http://www.sencha.com/forum/archive/index.php/t-229980.html?s=0f1f78ffdc1ad0e8f9c6a34a57a8ceaa) */
@media screen and (-webkit-min-device-pixel-ratio:0) { .x-grid3-cell, /* normal grid cell */
.x-grid3-gcell /* grouped grid cell (esp. in head)*/
{
box-sizing: border-box;
}
}



.go-hidden{
	display:none;
}

.cellbg-blue{
	background-color: #99CCFF;
}

.cellbg-green{
	background-color: #CCFFCC;
}

.cellbg-red{
	background-color: #FFCCCC;
}

.go-module-title-tbar{
	display:none;
}

/* for the livegrid */
.ext-ux-livegrid-drop-waiting {
    background-image:url(../images/loading.gif) !important;
}

.ext-ux-livegrid.ext-el-mask {
    z-index:0;
}

.ext-ux-livegrid .liveScroller {
    z-index:1;
    background:none!important;
    position:absolute;
    height:3px;
    right:0px;
    width:18px;
    overflow:scroll;
    overflow-x:hidden;
}

.ext-ux-livegrid .liveScroller div {
    background:none;
    width:1px;
    overflow:hidden;
    font-size:1px;
    height:0px;
}

.go-tab-notification{
	display:inline-block;
	background-color:green;
	color:white;
	height:12px;
	min-width:12x;
	padding:0px 3px;
	line-height:12px;
	text-align:center;
	border-radius:2px;
	font-size:10px;
}

#quick-add-menu-collapse {
	display:inline-block;
	cursor:pointer;
	float:left;
	margin:4px;
}

#quick-add-menu{
	position:absolute;
	border:none;
	background:none;
	padding:3px;
	top:-200px;
	width:auto;
	/*padding-right:20px;*/
	/*width:200px;*/
	/*display:none;*/
}

/*#quick-add-menu table{
	padding-left:3px;
}*/

#quick-add-menu .x-btn-mc,#quick-add-menu .x-btn-ml,#quick-add-menu .x-btn-mr,#quick-add-menu .x-btn-tl,#quick-add-menu .x-btn-tc,#quick-add-menu .x-btn-tr,#quick-add-menu .x-btn-bl,#quick-add-menu .x-btn-bc,#quick-add-menu .x-btn-br{
	background-image:none;
}

.plus-sign{
/*	position:absolute;
	top:0;
	right:0;*/
        /*float:right;*/
	display:inline-block;
	width:16px;
	height:16px;
	background: url('images/elbow-plus-nl.gif') no-repeat center center;
}

.minus-sign{
/*	position:absolute;
	top:0;
	right:0;*/
        /*float:right;*/
	display:inline-block;
	width:16px;
	height:16px;
	background: url('images/elbow-minus-nl.gif') no-repeat center center;
}

.permissions-error .x-grid3-cell-inner{
	color:red;
}