
.em-autolink-message{
	padding:5px;
	border:1px solid #ddd;
	background-color:#f1f1f1;
	margin-bottom:20px;
}

.em-autolink-link{
	cursor:pointer;
	text-decoration:underline;
}


.em-tree-node-noselect .x-tree-node-anchor span, .em-readonly a span{
	font-style:italic;
	color:#666 !important;
}

.em-folder-status{
	padding:0 !important;
	margin:0 !important;
}

.em-statusbar-body span{
line-height:21px !important;
padding-left:2px;
}

.em-usage-95{
	color:red !important;
	font-weight:bold !important;
	line-height: 20px !important;
}
.em-usage-85, .em-usage-90{
	color:orange !important;
	font-weight:bold !important;
	line-height: 20px !important;
}



.em-blocked{
margin:5px 2px;
}

#ml-notify, #ml-notify:hover{
	float:left;
	padding-left:20px;
	line-height:16px;
	background: url(images/16x16/message.png) no-repeat;	
	height:16px;
	vertical-align:middle;
	color:#666666;
	font-size: 10px;
	margin-top:3px;
}

/*.ml-unseen-row .x-grid3-cell-inner{
	font-weight:bold !important;	
}*/

.go-model-icon-GO_Email_Model_ImapMessage, .go-model-icon-GO_Savemailas_Model_LinkedEmail {
	background-image: url('images/email.png') !important;
	width:16px;
	height:16px;
}

.em-btn-email-files{
	background-image: url('images/16x16/attach.png') !important;
}

.go-module-icon-email , .go-menu-icon-email{
	background-image: url('images/email.png') !important;
}

.go-tab-icon-email {
	background-image: none !important;
}

.btn-low-priority{
	background-image:url('images/16x16/low_priority.png') !important;
}

.btn-high-priority{
	background-image:url('images/16x16/high_priority.png') !important;
}


.btn-message {
	background-image:url('images/16x16/message.png') !important;
}

.btn-message-seen {
	background-image: none !important;
}

.btn-message-answered {
	background-image:url('images/16x16/message_answered.png') !important;
}

.btn-message-forwarded {
	background-image:url('images/16x16/message_forwarded.png') !important;
}

.btn-message-answered-and-forwarded {
	background-image:url('images/16x16/message_answered_and_forwarded.png') !important;
}

.btn-compose {
	background-image:url('images/16x16/gtk-add.png') !important;
}

.btn-reply {
	background-image:url('images/16x16/mail_reply.png') !important;
}

.btn-reply-all {
	background-image:url('images/16x16/mail_replyall.png') !important;
}


.btn-addressbook {
	background-image:url('images/16x16/addressbook.png') !important;
}


.btn-forward {
	background-image:url('images/16x16/mail_forward.png') !important;
}

.btn-toggle-window{
	background-image:url('images/16x16/toggle_window.png') !important;
}



.btn-reload {
	background-image:url('images/16x16/reload.png') !important;
}

.btn-flag {
	background-image:url('images/16x16/flag.png') !important;
}

.btn-attach {
	background-image:url('images/16x16/btn-attach.png') !important;
}
.btn-accounts {
	background-image:url('images/16x16/accounts.png') !important;
}
.btn-send {
	background-image:url('images/16x16/mail_send.png') !important;
}
.btn-show {
	background-image:url('images/16x16/show.png') !important;
}

.em-btn-share-mailbox {
	background-image:url('images/16x16/share_mailbox.png') !important;
}


.ml-icon-attach {
	background-image:url('images/16x16/attach.png') !important;
}


.ml-folder-unseen span{
	color:#000 !important; 
	font-weight:bold !important;
}


.ml-seen-mail{
	margin:2px 0px;
}

.ml-unseen-mail{
 margin:2px 0px;
 font-weight:bold;
 color:#15428B; 
}

.ml-seen-from{
	line-height: 15px;
	margin: 4px 0 0 0;
}

.ml-unseen-from{
	line-height: 15px;
	margin: 4px 0 0 0;
	font-weight:bold;
	color:#000; 
}

.ml-seen-subject{
	line-height: 15px;
	margin:  0 0 4px 0;
	font-weight:normal;
}

.ml-unseen-subject{
	line-height: 15px;
	margin: 0 0 4px 0;
}

.message-header{
	font-family:tahoma,arial,helvetica,sans-serif;
	font-size:12px;
	background: none;
	border-bottom:1px solid #d0d0d0;
	padding-left: 10px;
	padding-top:5px;
}

.message-header a{
	color: black;
	text-decoration: none;	
}

.message-header a:hover{
	color: black;
	text-decoration: underline;	
}

.message-header-table td{
	vertical-align:top;	
}

.message-header-table{
	float:left;
	margin-right: 10px;
	margin-bottom: 5px;
}

.message-icalendar{
	background-color:#EBF0F2;
	border-bottom:1px solid #d0d0d0;
	padding: 0 8px 0 8px;
	text-align:left;
	line-height:20px;
}
.message-icalendar-icon{
	background-repeat:no-repeat;	
	background-position:0 2px;
	padding:0px 0px 2px 20px;
	white-space:nowrap;
	float:left;
	width:auto !important;
}
.message-icalendar-actions{
	float:right;
	height:20px;
}

.message-icalendar a{
	color: black;
	text-decoration: none;
}
.message-icalendar a:hover{
	color: black;
	text-decoration: underline;
}

.message-body{
	padding: 8px;	
	position: relative;
}
.message-body p, .em-message p, .em-composer p{
	margin-top:0px;
	margin-bottom:0px;
}


.message-body a:link,.message-body a:active,.message-body a:visited{
	color: blue;
	text-decoration: underline;
}
.message-body a:hover{
	text-decoration:none;
}

.message-body p.MsoListParagraph, .message-body li.MsoListParagraph, .message-body div.MsoListParagraph
{
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	font-size:11.0pt;
}

.x-tree-node img.folder-account, .x-tree-node-collapsed img.folder-account{
    background-image:  url("images/16x16/account.png");
}

.x-tree-node-expanded img.folder-account{
    background-image:  url("images/16x16/account.png");
}


.x-tree-node img.folder-default, .x-tree-node-collapsed img.folder-default{
    background-image:  url("images/16x16/folder.png");
}

.x-tree-node-expanded img.folder-default{
    background-image:  url("images/16x16/folder_open.png");
}

.email-grid-icon{
	float:left;
	width:16px;
	height:16px;
	margin:1px;
	background-repeat: no-repeat;
}

.em-attachments-container{
	outline: none;
}

.attachment-wrap {
	cursor: default;
	margin:1px;
	background-position:1px 5px;
}
.attachment-wrap.x-view-over{
	background-color:#ebf1e2;
	border:0px !important;
	margin:1px;
}
.attachment-wrap.x-view-selected{
	background-color:#ebf1e2;
	border:1px solid #669900 !important;;
	margin:0px !important;
}

.email-upload-pc{
	padding-left:13px;
	cursor:pointer;
	line-height:16px;
	text-decoration:none;
	white-space:nowrap;

}
.email-upload-pc td.x-btn-tl, .email-upload-pc td.x-btn-tc, .email-upload-pc td.x-btn-tr,
.email-upload-pc td.x-btn-ml, .email-upload-pc td.x-btn-mc, .email-upload-pc td.x-btn-mr,
.email-upload-pc td.x-btn-bl, .email-upload-pc td.x-btn-bc, .email-upload-pc td.x-btn-br {
	background:transparent !important;	
}

.email-upload-pc button.x-btn-text
{
	color:#000000 !important;
	font:12px tahoma,arial,helvetica,sans-serif;
	white-space:nowrap;
}

.x-menu-list-item form
{
	background:transparent !important;
}

.email-folder-inbox{
	background-image:url(images/16x16/inbox.png) !important;
}
.email-folder-drafts{
	background-image:url(images/16x16/drafts.png) !important;
}
.email-folder-sent{
	background-image:url(images/16x16/sent.png) !important;
}
.email-folder-trash{
	background-image:url(images/16x16/trash.png) !important;
}
.email-folder-spam{
	background-image:url(images/16x16/spam.png) !important;
}

.em-contact-link{
	 float:right;
	 margin-left:10px;
}

.em-contact-link .x-form-check-wrap{
	line-height:inherit !important;
}


.ml-seen-row{
   background: none;
}

#em-pnl-west .x-grid3-row td{
	border-bottom: 1px solid #666;	
}